<template>
  <div class="dz-badge" :class="classes">
    {{ label }}
  </div>
</template>
<script>
export default {
  name: "DzBadge",
  props: {
    label: {
      type: String
    },
    color: {
      type: String,
      default: "dark"
    },
    outline: {
      type: Boolean
    }
  },
  computed: {
    classes() {
      return {
        [`text-${this.color}`]: this.color && this.outline,
        [`bg-${this.color}`]: this.color && !this.outline,
        "text-white": this.color && !this.outline,
        "dz-badge--outline": this.outline
      };
    }
  }
};
</script>
<style scoped>
.dz-badge {
  padding: 2px 6px;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
}

.dz-badge.dz-badge--outline {
  background: transparent;
  border: 1px solid currentColor;
  font-weight: 600;
}
</style>
