<template>
  <transition
    enter-active-class="enter-active"
    leave-active-class="leave-active"
    @before-enter="beforeEnter"
    @enter="enter"
    @before-leave="beforeLeave"
    @leave="leave"
  >
    <!-- @after-enter="afterEnter" -->
    <!-- @after-leave="afterLeave" -->
    <slot />
  </transition>
</template>
<script>
export default {
  name: "DzTransitionWidth",
  props: {
    /* duration deve ser informado de acordo com o width */
    duration: {
      type: String,
      default: ".15s"
    }
  },
  methods: {
    /**
     * @param {HTMLElement} el
     */
    beforeEnter(el) {
      if (!el._defaultSize) {
        if (el.style.width) {
          const width = el.style.width;
          // Replace para não utilizar com valor tipo auto
          if (width.replace(/[a-zA-Z]/g, "") > 0) {
            el._defaultSize = el.style.width;
            // hasDefaultSize necessário para funcionamento tando sem tamanho definido, como com tamanho definido
            el._hasDefaultSize = true;
          }
        }
      }
      el.style.width = "0px";
      el.style.display = null;
      el.style.transitionDuration = this.duration;
    },
    /**
     * @param {HTMLElement} el
     */
    enter(el) {
      requestAnimationFrame(() => {
        requestAnimationFrame(() => {
          if (el._hasDefaultSize) {
            el.style.width = el._defaultSize;
          } else {
            el._defaultSize = `${el.scrollWidth}px`;
            el.style.width = el._defaultSize;
          }
          // el.style.width = el._initialSize ? el._initialSize : `${el.scrollWidth}px`;
        });
      });
    },
    /**
     * @param {HTMLElement} el
     */
    beforeLeave(el) {
      el.style.transitionDuration = this.duration;
      requestAnimationFrame(() => {
        if (!el.style.width) {
          el.style.width = `${el.offsetWidth}px`;
        } else {
          el.style.width = el._defaultSize;
        }
      });
    },
    /**
     * @param {HTMLElement} el
     */
    leave(el) {
      requestAnimationFrame(() => {
        requestAnimationFrame(() => {
          el.style.width = "0px";
        });
      });
      el.style.display = null;
      el.style.width = el._defaultSize; // null;
    }
  }
};
</script>
<style scoped>
.enter-active,
.leave-active {
  /* transition: width 1s linear; */
  overflow: hidden;
  transition-property: width max-width;
  /* Durations can be changed without touching JS */
  /* transition-duration: 10s; */
  /* Timing functions also! */
  transition-timing-function: linear; /*cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
}
.enter,
.leave-to {
  width: 0 !important;
  max-width: 0 !important;
  /* Timing function can be different for each direction */
  transition-timing-function: linear; /*cubic-bezier(0.6, -0.28, 0.735, 0.045);*/
  /* transition-duration: 15s !important; */
}
</style>
