<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
      window.__setThemeMode = () => {
        let defaultThemeMode = 'light';
        let themeMode = localStorage.theme_mode || defaultThemeMode && localStorage.setItem("theme_mode", defaultThemeMode);
  
        document.documentElement.setAttribute(
          'data-theme-mode',
          themeMode
        );
      }
 
      window.__setPrimaryColor = () => {
        let defaultPrimaryColor = 'green';
        let primaryColor = localStorage.primary_color || defaultPrimaryColor && localStorage.setItem("primary_color", defaultPrimaryColor);
  
        document.documentElement.setAttribute(
          'data-primary-color',
          primaryColor
        );
      }
      __setPrimaryColor();
      __setThemeMode();
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
