<template>
  <form
    @submit.prevent.stop="onSubmit"
    class="q-gutter-md q-pa-md q-gutter-y-md"
    style="display: flex;flex-direction: column;width: 100%;"
  >
    <div>
      <div
        class="q-pa-sm q-mb-md"
        style="display: flex; align-items: center; font-size: 1.2em; border-bottom: 2px solid #34373d; "
      >
        <svg
          style="height: 30px; fill: currentColor;"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
        >
          <path
            d="m 14.74587,8.0021739 a 0.74978263,0.74978263 0 0 0 -0.749783,0.749782 v 4.4986961 a 0.74978263,0.74978263 0 0 1 -0.749782,0.749783 H 2.7493478 A 0.74978263,0.74978263 0 0 1 1.9995652,13.250652 V 2.7536953 A 0.74978263,0.74978263 0 0 1 2.7493478,2.0039126 h 4.4986957 a 0.74978263,0.74978263 0 0 0 0,-1.49956516 H 2.7493478 A 2.2493479,2.2493479 0 0 0 0.49999986,2.7536953 V 13.250652 A 2.2493479,2.2493479 0 0 0 2.7493478,15.5 H 13.246305 a 2.2493479,2.2493479 0 0 0 2.249348,-2.249348 V 8.7519559 A 0.74978263,0.74978263 0 0 0 14.74587,8.0021739 Z M 3.4991304,8.5720089 V 11.751087 A 0.74978263,0.74978263 0 0 0 4.248913,12.500869 H 7.4279914 A 0.74978263,0.74978263 0 0 0 7.960337,12.283433 l 5.188496,-5.1959941 v 0 l 2.129383,-2.084396 a 0.74978263,0.74978263 0 0 0 0,-1.064691 L 12.099137,0.72178434 a 0.74978263,0.74978263 0 0 0 -1.064691,0 L 8.9200589,2.8436692 v 0 L 3.7165674,8.0396629 a 0.74978263,0.74978263 0 0 0 -0.217437,0.532346 z M 11.566792,2.3113235 13.688676,4.4332079 12.623985,5.4978999 10.5021,3.3760148 Z M 4.9986957,8.8794189 9.4449069,4.4332079 11.566792,6.5550929 7.1205805,11.001304 H 4.9986957 Z"
          />
        </svg>
        <strong class="q-ml-md">{{ $t("form.edit-user") }}</strong>
      </div>
      <!-- <q-toggle
        v-if="false"
        v-model="dense"
        color="green"
        dark
        keep-color
        label="Dense QInput"
      /> -->

      <q-input
        v-model="form.fullname"
        outlined
        stack-label
        :label="$t('form.fullname.label')"
        :dense="dense"
        ref="fullname"
        lazy-rules
        :rules="[
          val =>
            (val && val.length > 0) || $t('form.fullname.validator.required')
        ]"
      />

      <div style="display: flex;">
        <q-input
          v-model="form.username"
          outlined
          stack-label
          :label="$t('form.username.label')"
          :dense="dense"
          style="width: 50%"
          ref="username"
          lazy-rules
          :rules="[
            val =>
              (val && val.length > 0) || $t('form.username.validator.required')
          ]"
        ></q-input>
        <q-select
          style="margin-left: 20px; width: 50%"
          outlined
          stack-label
          :label="$t('form.account.label')"
          :dense="dense"
          v-model="form.account"
          :options="options"
          emit-value
          map-options
          ref="account"
          lazy-rules
          :rules="[
            val =>
              (val && val.length > 0) || $t('form.account.validator.required')
          ]"
        />
      </div>
      <q-toggle
        v-model="showPassword"
        color="primary"
        dark
        keep-color
        :label="$t('form.change-password.label')"
      />
      <div v-if="showPassword" style="display: flex;">
        <q-input
          v-model="form.password"
          outlined
          stack-label
          :label="$t('form.password.label')"
          :dense="dense"
          style="width: 50%"
          :type="isPwd ? 'password' : 'text'"
          ref="password"
          lazy-rules
          :rules="[
            val =>
              (val && val.length > 0) || $t('form.password.validator.required')
          ]"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>

        <q-input
          @paste="onPaste"
          outlined
          stack-label
          :label="$t('form.confirm-password.label')"
          :dense="dense"
          style="margin-left: 20px; width: 50%"
          :disabled="form.password.length < 1"
          type="password"
          v-model="form.password_confirm"
          ref="password_confirm"
          lazy-rules
          :rules="[
            val => val =>
              (val && val.length > 0) ||
              $t('form.confirm-password.validator.required'),
            val =>
              val === form.password ||
              $t('form.confirm-password.validator.error')
          ]"
        />
      </div>

      <q-select
        :dense="dense"
        outlined
        stack-label
        :label="$t('form.groups.label')"
        v-model="userGroup"
        multiple
        :options="optionsGroup"
        use-chips
        ref="groups"
        lazy-rules
        :rules="[
          val => (val && val.length > 0) || $t('form.groups.validator.required')
        ]"
      />
      <div
        class="q-pa-md q-gutter-sm"
        style="display: flex; flex-direction: row-reverse;"
      >
        <q-btn
          :label="$t('button.update')"
          type="submit"
          outline
          color="primary"
        />
          <!-- style="color: #db6574" -->
        <q-btn
          flat
          :label="$t('button.cancel')"
          style="color: #8a8d93"
          @click="$router.push('/home')"
        />
      </div>
    </div>
  </form>
</template>
<script>
import { EventBus } from "@/support/event-bus";
import { removeLineBreak, terminal, sleepSync } from "@/support/util";
import {
  userExist,
  addUser,
  changeUsername,
  setPassword,
  updatePassword,
  updateGecos,
  setAdmin,
  removeAdmin,
  getGroups,
  getUserGroups,
  updateUserGroups
} from "@/support/command";

import updateUser from "@/mixin/updateUser";
export default {
  name: "EditUser",
  mixins: [updateUser],
  data() {
    return {
      dense: false,
      showPassword: false,
      isPwd: true,
      options: [
        {
          label: this.$t("form.account.options.admin"),
          value: "admin"
        },
        {
          label: this.$t("form.account.options.default"),
          value: "default"
        }
      ],
      formClone: {},
      form: {
        fullname: "",
        username: "",
        password: "",
        password_confirm: "",
        account: ""
      },
      userGroup: [],
      userGroupClone: [],
      optionsGroup: []
    };
  },
  async created() {
    this.optionsGroup = await getGroups();
    // list.splice(list.indexOf('foo'), 1);
    this.form = Object.assign({}, this.$route.params.user);
    this.formClone = Object.assign({}, this.form);
    this.$nextTick(async () => {
      this.userGroup = await getUserGroups(this.$route.params.username);
      this.userGroupClone = this.userGroup.slice();
    });
  },
  methods: {
    onPaste(event) {
      /* Cancel paste */
      event.preventDefault();
      return;
    },
    onSubmit() {
      this.$refs.fullname.validate();
      this.$refs.username.validate();
      this.showPassword && this.$refs.password.validate();
      this.showPassword && this.$refs.password_confirm.validate();
      this.$refs.account.validate();
      this.$refs.groups.validate();

      if (
        this.$refs.fullname.hasError ||
        this.$refs.username.hasError ||
        (this.showPassword && this.$refs.password.hasError) ||
        (this.showPassword && this.$refs.password_confirm.hasError) ||
        this.$refs.account.hasError ||
        this.$refs.groups.hasError
      ) {
        dzAlert({
          type: "error",
          title: this.$t("alert-title.error"),
          message: this.$t("edit-user.form-error"),
          buttonConfirm: this.$t("button.ok")
        });
        return;
      }
      this.updateUser(this.form);
    }
  }
};
</script>
