<template>
  <form
    @submit.prevent.stop="onSubmit"
    @reset.prevent.stop="onReset"
    class="q-gutter-md q-pa-md q-gutter-y-md"
    style="display: flex;flex-direction: column;width: 100%;"
  >
    <div>
      <div
        class="q-pa-sm q-mb-md"
        style="display: flex; align-items: center; font-size: 1.2em; border-bottom: 2px solid #34373d; "
      >
        <svg
          style="height: 30px; fill: currentColor;"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M21,10.5H20v-1a1,1,0,0,0-2,0v1H17a1,1,0,0,0,0,2h1v1a1,1,0,0,0,2,0v-1h1a1,1,0,0,0,0-2Zm-7.7,1.72A4.92,4.92,0,0,0,15,8.5a5,5,0,0,0-10,0,4.92,4.92,0,0,0,1.7,3.72A8,8,0,0,0,2,19.5a1,1,0,0,0,2,0,6,6,0,0,1,12,0,1,1,0,0,0,2,0A8,8,0,0,0,13.3,12.22ZM10,11.5a3,3,0,1,1,3-3A3,3,0,0,1,10,11.5Z"
          />
        </svg>
        <strong class="q-ml-md">{{ $t("form.new-user") }}</strong>
      </div>

      <q-toggle
        v-if="false"
        v-model="dense"
        color="green"
        dark
        keep-color
        label="Dense QInput"
      />

      <q-input
        v-model="form.fullname"
        outlined
        stack-label
        :label="$t('form.fullname.label')"
        :dense="dense"
        ref="fullname"
        lazy-rules
        :rules="[
          val =>
            (val && val.length > 0) || $t('form.fullname.validator.required')
        ]"
      />

      <div style="display: flex;">
        <q-input
          v-model="form.username"
          outlined
          stack-label
          :label="$t('form.username.label')"
          :dense="dense"
          style="width: 50%"
          ref="username"
          lazy-rules
          :rules="[
            val =>
              (val && val.length > 0) || $t('form.username.validator.required')
          ]"
        ></q-input>
        <q-select
          style="margin-left: 20px; width: 50%"
          outlined
          stack-label
          :label="$t('form.account.label')"
          :dense="dense"
          v-model="form.account"
          :options="options"
          emit-value
          map-options
          ref="account"
          lazy-rules
          :rules="[
            val =>
              (val && val.length > 0) || $t('form.account.validator.required')
          ]"
        />
      </div>
      <div style="display: flex;">
        <q-input
          v-model="form.password"
          outlined
          stack-label
          :label="$t('form.password.label')"
          :dense="dense"
          style="width: 50%"
          :type="isPwd ? 'password' : 'text'"
          ref="password"
          lazy-rules
          :rules="[
            val =>
              (val && val.length > 0) || $t('form.password.validator.required')
          ]"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>

        <q-input
          @paste.native="onPaste"
          outlined
          stack-label
          :label="$t('form.confirm-password.label')"
          :dense="dense"
          style="margin-left: 20px; width: 50%"
          :disabled="form.password.length < 1"
          type="password"
          v-model="form.password_confirm"
          ref="password_confirm"
          lazy-rules
          :rules="[
            val => val =>
              (val && val.length > 0) ||
              $t('form.confirm-password.validator.required'),
            val =>
              val === form.password ||
              $t('form.confirm-password.validator.error')
          ]"
        />
      </div>

      <div
        class="q-pa-md q-gutter-sm"
        style="display: flex; flex-direction: row-reverse;"
      >
        <q-btn
          :label="$t('button.add')"
          type="submit"
          outline
          color="primary"
        />
        <q-btn
          flat
          :label="$t('button.cancel')"
          style="color: #8a8d93"
          @click="$router.push('/home')"
        />
        <q-btn
          :label="$t('button.reset')"
          style="color: #8a8d93"
          flat
          type="reset"
        />
      </div>
    </div>
  </form>
</template>
<script>
import { EventBus } from "@/support/event-bus";
import { removeLineBreak, terminal } from "@/support/util";
import addUser from "@/mixin/addUser";
export default {
  name: "NewUser",
  mixins: [addUser],
  data() {
    return {
      dense: false,
      isPwd: true,
      options: [
        {
          label: this.$t("form.account.options.admin"),
          value: "admin"
        },
        {
          label: this.$t("form.account.options.default"),
          value: "default"
        }
      ],
      form: {
        fullname: "",
        username: "",
        password: "",
        password_confirm: "",
        account: ""
      }
    };
  },
  methods: {
    onPaste(event) {
      /* Cancel paste */
      event.preventDefault();
      return;
    },
    async onSubmit() {
      this.$refs.fullname.validate();
      this.$refs.username.validate();
      this.$refs.password.validate();
      this.$refs.password_confirm.validate();
      this.$refs.account.validate();

      if (
        this.$refs.fullname.hasError ||
        this.$refs.username.hasError ||
        this.$refs.password.hasError ||
        this.$refs.password_confirm.hasError ||
        this.$refs.account.hasError
      ) {
        dzAlert({
          type: "error",
          title: this.$t("alert-title.error"),
          message: this.$t("add-user.form-error"),
          buttonConfirm: this.$t("button.ok")
        });
        return;
      }
      await this.addUser(this.form);
      this.$router.push("/home");
    },

    onReset() {
      this.form = {
        fullname: "",
        username: "",
        password: "",
        password_confirm: "",
        account: ""
      };

      this.$refs.fullname.resetValidation();
      this.$refs.username.resetValidation();
      this.$refs.password.resetValidation();
      this.$refs.password_confirm.resetValidation();
      this.$refs.account.resetValidation();
    }
  }
};
</script>
