<template>
  <aside class="sidebar">
    <div class="sidebar--title">
      <div style="height: 25px;width: 25px;">
        <q-spinner-ios
          v-if="loading"
          style="height: 25px;width: 25px;color: #db6574!important;"
        />
      </div>
      <strong>{{ $t("sidebar.title") }}</strong>
      <div>
        <button @click="onNewUser" class="sidebar--title--button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path
              d="m 0.5000001,7.2500008 14.9999989,-4e-7 10e-7,1.4999992 H 0.4999998 Z M 7.2500004,15.5 v -15 l 1.4999992,6e-7 -5e-7,14.9999994 z"
            />
          </svg>
        </button>
      </div>
    </div>
    <q-list style="max-width: 350px; margin-top: 10px;" class="scrollabled">
      <q-item
        v-ripple
        clickable
        class="sidebar--item"
        active-class="sidebar--item--active"
        v-for="(user, index) in userList"
        :key="index"
        :active="indexActive === index"
        @click.native="onEditUser(user, index)"
      >
        <q-item-section avatar top>
          <q-avatar style="height: 50px">
            <img
              :src="`file://${user.user_directory}/.face`"
              style="height: 50px"
            />
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label class="sidebar--item--tittle" lines="1">
            {{ user.fullname }}
          </q-item-label>
          <q-item-label class="sidebar--item--caption" caption>
            {{ user.username }}
            <q-icon v-if="user.is_admin" name="security" />
          </q-item-label>
        </q-item-section>

        <q-item-section side>
          <button
            @click.stop.prevent="onDeleteUser(user.username)"
            class="sidebar--item--button"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path
                d="m 6.5,12.5 a 0.75,0.75 0 0 0 0.75,-0.75 v -4.5 a 0.75,0.75 0 0 0 -1.5,0 v 4.5 A 0.75,0.75 0 0 0 6.5,12.5 Z M 14,3.5 H 11 V 2.75 A 2.25,2.25 0 0 0 8.75,0.5 H 7.25 A 2.25,2.25 0 0 0 5,2.75 V 3.5 H 2 A 0.75,0.75 0 0 0 2,5 h 0.75 v 8.25 A 2.25,2.25 0 0 0 5,15.5 h 6 a 2.25,2.25 0 0 0 2.25,-2.25 V 5 H 14 A 0.75,0.75 0 0 0 14,3.5 Z M 6.5,2.75 A 0.75,0.75 0 0 1 7.25,2 h 1.5 A 0.75,0.75 0 0 1 9.5,2.75 V 3.5 h -3 z m 5.25,10.5 A 0.75,0.75 0 0 1 11,14 H 5 A 0.75,0.75 0 0 1 4.25,13.25 V 5 h 7.5 z M 9.5,12.5 a 0.75,0.75 0 0 0 0.75,-0.75 v -4.5 a 0.75,0.75 0 0 0 -1.5,0 v 4.5 A 0.75,0.75 0 0 0 9.5,12.5 Z"
              />
            </svg>
          </button>
        </q-item-section>
      </q-item>
    </q-list>
  </aside>
</template>

<script>
import { EventBus } from "@/support/event-bus";
import { removeLineBreak, terminal, sleepSync } from "@/support/util";
import { getUsers, runAsRoot } from "@/support/command";

export default {
  name: "AppSidebar",
  data() {
    return {
      loading: false,
      userList: [],
      indexActive: null
    };
  },
  mounted() {
    this.getUserList();
    EventBus.$on("LOAD_USER", payload => {
      this.getUserList();
    });
  },
  methods: {
    onReset() {
      this.indexActive = null;
      // fullPath: "/home"
      // name: "Home"
      // path: "/home"
      const destiny = "/home";
      if (this.$route.path !== destiny) {
        this.$router.push(destiny);
      }
    },
    onNewUser() {
      this.indexActive = null;
      const destiny = "/new";
      if (this.$route.path !== destiny) {
        this.$router.push(destiny);
      }
    },
    async onDeleteUser(username) {
      // com tag a não funcionou
      dzConfirm(
        {
          title: this.$t("delete-user.confirm.title"),
          message: this.$t("delete-user.confirm.question"),
          buttonConfirm: this.$t("button.yes"),
          buttonCancel: this.$t("button.cancel")
        },
        async (confirmed, target_element) => {
          if (confirmed) {
            // do something when the user confirms
            // location.href = target_element.href;
            EventBus.$emit("STATUS", {
              level: "primary",
              type: "info",
              message: this.$t("delete-user.statusbar.start")
            });
            const response = await terminal(
              `deluser --remove-home ${username}`
            );
            if (response.status) {
              dzAlert({
                type: "success",
                title: this.$t("alert-title.success"),
                message: this.$t("delete-user.success"),
                buttonConfirm: this.$t("button.ok")
              });
            }

            if (!response.status) {
              dzAlert({
                type: "error",
                title: this.$t("alert-title.error"),
                message: this.$t("delete-user.error", {
                  username: username
                }),
                buttonConfirm: this.$t("button.ok")
              });
            }

            EventBus.$emit("STATUS", {
              level: "secondary",
              type: response.status ? "success" : "error",
              message: response.status
                ? this.$t("delete-user.success")
                : this.$t("delete-user.error", {
                    username: username
                  })
            });
            EventBus.$emit("STATUS", {
              level: "primary",
              type: response.status ? "success" : "error",
              message: response.status
                ? this.$t("delete-user.statusbar.end")
                : this.$t("delete-user.statusbar.end-with-error")
            });

            EventBus.$emit("LOAD_USER");
          } else {
            return;
          }
        }
      );
    },
    onEditUser(user, index) {
      this.$router.push({
        name: "EditUser",
        params: { username: user.username, user: user }
      });
      this.indexActive = index;
    },
    async getUserList() {
      this.loading = true;
      this.userList = await getUsers();
      this.onReset();
      this.loading = false;
    }
  }
};
</script>
