<template>
  <footer class="footer">
    <StatusBar />
  </footer>
</template>
<script>
import StatusBar from "./StatusBar";
export default {
  name: "AppStatusbar",
  components: {
    StatusBar
  }
};
</script>
