<template>
  <header class="titlebar">
    <div class="menu">
      <button class="control menu__button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path
            d="M 0.5 2.5 L 0.5 4 L 15.5 4 L 15.5 2.5 L 0.5 2.5 z M 0.5 7.5 L 0.5 9 L 15.5 9 L 15.5 7.5 L 0.5 7.5 z M 0.5 12.5 L 0.5 14 L 15.5 14 L 15.5 12.5 L 0.5 12.5 z "
          />
        </svg>
      </button>
      <div class="menu__container">
        <div class="menu__shadow">
          <div class="menu__content">
            <strong>{{ $t("menu.select-mode") }}:</strong>
            <q-toggle
              true-value="dark"
              false-value="light"
              v-model="themeMode"
              dark
              keep-color
              :label="$t('menu.dark-mode')"
            />
            <br />
            <strong>{{ $t("menu.select-primary-color") }}:</strong>
            <q-option-group
              :options="optionsColor"
              type="radio"
              v-model="colorPrimary"
            />
            <br />
            <strong>Exibir Inspetor:</strong>
            <q-toggle v-model="devMode" dark keep-color label="Dev mode" />
          </div>
        </div>
      </div>
    </div>
    <div class="title">
      <span class="title__distro-name">{{ $root.distroName }}</span>
      <span class="title__app-name"> {{ $t("app.name") }}</span>
    </div>
    <div class="controls">
      <button
        v-if="window.isMinimizable()"
        @click="onMinimize"
        class="control controls__minimize"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path d="m 0.5,7.25 v 1.5 h 15 v -1.5 z" />
        </svg>
      </button>
      <button
        v-if="window.isMaximizable() && isMaximized"
        @click="onRestore"
        class="control controls__restore"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path
            d="m 6.5021558,15.499963 c -1.9999958,0 -3.9999918,0 -5.9999878,0 0,-0.5 0,-0.999999 0,-1.499998 1.999996,0 3.999992,0 5.9999878,-10e-7 0,0.5 0,0.999999 0,1.499999 z M 15.5,1.9999618 c -5,0 -10,0 -15,0 0,-0.5 0,-0.999999 0,-1.499999 5,0 10,0 15,0 0,0.5 0,0.999999 0,1.499999 z m 0,13.5000012 c -1.666667,0 -3.333333,0 -5,0 0,-0.5 0,-0.999999 0,-1.499999 1.666667,0 3.333333,0 5,0 0,0.5 0,0.999999 0,1.499999 z M 1.999999,9.5000008 c 0,2.0000002 0,3.9999992 0,5.9999992 -0.5,0 -0.999999,0 -1.499999,0 0,-2 0,-3.999999 0,-5.9999992 0.5,0 0.999999,0 1.499999,0 z M 15.5,0.4999628 c 0,5 0,10.0000002 0,15.0000002 -0.5,0 -0.999999,0 -1.499999,0 0,-5 0,-10.0000002 0,-15.0000002 0.5,0 0.999999,0 1.499999,0 z m -13.500001,0 c 0,1.666667 0,3.333333 0,5 -0.5,0 -0.999999,0 -1.499999,0 0,-1.666667 0,-3.333333 0,-5 0.5,0 0.999999,0 1.499999,0 z M 8.671361,8.4022023 C 6.3143383,10.759225 3.957316,13.116248 1.600293,15.47327 1.24674,15.119717 0.893186,14.766164 0.539633,14.412611 2.896656,12.055588 5.253679,9.6985658 7.610702,7.3415432 7.964255,7.6950962 8.317808,8.0486493 8.671361,8.4022023 Z"
          />
        </svg>
      </button>
      <button
        v-if="window.isMaximizable() && !isMaximized"
        @click="onMaximize"
        class="control controls__maximize"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path
            d="M 0.5,0.5 V 2 15.5 H 2 15.5 V 14 10.5 H 14 V 14 H 2 V 2 H 5.5 V 0.5 H 2 Z m 8.9980469,0 V 2 H 12.927734 L 7.328125,7.5976562 8.3886719,8.6582031 14,3.0488281 V 6.5 h 1.5 v -6 h -0.002 H 14 Z"
          />
        </svg>
      </button>
      <button @click="onClose" class="control controls__close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path
            d="M 1.8128154,0.75215565 15.247844,14.187184 14.187185,15.247844 0.75215593,1.8128152 Z M 0.75215625,14.187185 14.187185,0.75215605 15.247844,1.8128158 1.8128156,15.247844 Z"
          />
        </svg>
      </button>
    </div>
  </header>
</template>

<script>
import { remote } from "electron";

export default {
  name: "AppTitlebar",
  data() {
    return {
      themeMode: localStorage.theme_mode,
      devMode: false,
      colorPrimary: localStorage.primary_color,
      optionsColor: [
        { label: this.$t("color.green"), value: "green", color: "green" },
        { label: this.$t("color.blue"), value: "blue", color: "blue" },
        { label: this.$t("color.orange"), value: "orange", color: "orange" },
        { label: this.$t("color.yellow"), value: "yellow", color: "yellow" },
        { label: this.$t("color.red"), value: "red", color: "red" }
      ],
      closePath:
        "M 2.1663695,12.772972 12.772971,2.1663694 13.833631,3.2270289 3.2270289,13.833631 Z M 3.2270289,2.1663698 13.83363,12.772971 12.772971,13.83363 2.1663698,3.2270288 Z",
      restorePath:
        "m 6.5021558,15.499963 c -1.9999958,0 -3.9999918,0 -5.9999878,0 0,-0.5 0,-0.999999 0,-1.499998 1.999996,0 3.999992,0 5.9999878,-10e-7 0,0.5 0,0.999999 0,1.499999 z M 15.5,1.9999618 c -5,0 -10,0 -15,0 0,-0.5 0,-0.999999 0,-1.499999 5,0 10,0 15,0 0,0.5 0,0.999999 0,1.499999 z m 0,13.5000012 c -1.666667,0 -3.333333,0 -5,0 0,-0.5 0,-0.999999 0,-1.499999 1.666667,0 3.333333,0 5,0 0,0.5 0,0.999999 0,1.499999 z M 1.999999,9.5000008 c 0,2.0000002 0,3.9999992 0,5.9999992 -0.5,0 -0.999999,0 -1.499999,0 0,-2 0,-3.999999 0,-5.9999992 0.5,0 0.999999,0 1.499999,0 z M 15.5,0.4999628 c 0,5 0,10.0000002 0,15.0000002 -0.5,0 -0.999999,0 -1.499999,0 0,-5 0,-10.0000002 0,-15.0000002 0.5,0 0.999999,0 1.499999,0 z m -13.500001,0 c 0,1.666667 0,3.333333 0,5 -0.5,0 -0.999999,0 -1.499999,0 0,-1.666667 0,-3.333333 0,-5 0.5,0 0.999999,0 1.499999,0 z M 8.671361,8.4022023 C 6.3143383,10.759225 3.957316,13.116248 1.600293,15.47327 1.24674,15.119717 0.893186,14.766164 0.539633,14.412611 2.896656,12.055588 5.253679,9.6985658 7.610702,7.3415432 7.964255,7.6950962 8.317808,8.0486493 8.671361,8.4022023 Z",
      maximizePath:
        "M 0.5,0.5 V 2 15.5 H 2 15.5 V 14 10.5 H 14 V 14 H 2 V 2 H 5.5 V 0.5 H 2 Z m 8.9980469,0 V 2 H 12.927734 L 7.328125,7.5976562 8.3886719,8.6582031 14,3.0488281 V 6.5 h 1.5 v -6 h -0.002 H 14 Z",
      minimizePath: "m 0.5,7.25 v 1.5 h 15 v -1.5 z",
      menuPath:
        "M 0.5 2.5 L 0.5 4 L 15.5 4 L 15.5 2.5 L 0.5 2.5 z M 0.5 7.5 L 0.5 9 L 15.5 9 L 15.5 7.5 L 0.5 7.5 z M 0.5 12.5 L 0.5 14 L 15.5 14 L 15.5 12.5 L 0.5 12.5 z ",
      isMaximized: false
    };
  },
  watch: {
    themeMode: {
      // immediate: true,
      handler: (val, oldVal) => {
        localStorage.setItem("theme_mode", val);
        __setThemeMode();
      }
    },
    colorPrimary: {
      // immediate: true,
      handler: (val, oldVal) => {
        localStorage.setItem("primary_color", val);
        __setPrimaryColor();
      }
    },
    devMode: function() {
      this.devTools();
    }
  },
  created() {
    this.isMaximized = this.window.isMaximized();
    this.window
      .on("maximize", () => {
        this.isMaximized = true;
      })
      .on("unmaximize", () => {
        this.isMaximized = false;
      });
  },
  beforeDestroy() {
    this.window.removeAllListeners("maximize");
    this.window.removeAllListeners("unmaximize");
  },
  computed: {
    window() {
      return remote.getCurrentWindow();
    }
  },
  methods: {
    onMinimize() {
      this.window.minimize();
    },
    onMaximize() {
      this.window.maximize();
    },
    onRestore() {
      this.window.unmaximize();
    },
    onClose() {
      this.window.close();
    },
    devTools() {
      remote.getCurrentWindow().toggleDevTools();
    }
  }
};
</script>
