<template>
  <div class="status-bar">
    <dz-transition-height duration=".3s">
      <div v-show="showLog">
        <div class="logger-view">
          <q-bar class="controlbar">
            <q-icon name="dvr" style="font-size: 16px;" />
            <div style="font-size: 15px !important;">Logs</div>
            <q-space />
            <span @click="clearLog" class="button">
              <q-icon name="delete" />
            </span>
            <span @click="showLog = false" class="button">
              <q-icon name="close" />
            </span>
          </q-bar>
          <div class="logs scrollabled">
            <div class="logger-message">
              <div class="message">
                <span style="font-weight:bold" class="text-primary"
                  >{{ $root.distroName }} {{ $t("app.name") }} v{{
                    $root.version
                  }}</span
                >
              </div>
            </div>
            <div
              v-for="(log, index) in logList"
              :key="index"
              class="logger-message"
            >
              <dz-badge
                :label="log.type"
                :color="getColor(log.type)"
                outline
                class="q-mr-sm"
                style="width: 110px;"
              />
              <div class="message">{{ log.message }}</div>
              <div class="date">{{ log.date }}</div>
            </div>
          </div>
        </div>
      </div>
    </dz-transition-height>
    <q-bar @click="showLog = !showLog" class="statusbar--primary q-pa-sm">
      <!-- background: #1d2935; -->
      <q-icon name="dvr" style="font-size: 16px;" />
      <dz-badge
        v-if="status.type"
        :label="status.type"
        :color="getColor(status.type)"
        class="q-mr-sm"
      />
      <div style="font-size: 11px !important;">{{ status.message }}</div>
      <q-space />
      <div style="font-size: 11px !important;opacity: 0.5;" class="date">
        {{ status.date }}
      </div>
    </q-bar>
  </div>
</template>
<script>
import { EventBus } from "@/support/event-bus";
import { now } from "@/support/util";
import DzBadge from "@/components/dz/badge/badge";
import DzTransitionHeight from "@/components/dz/transition-expand/transition-height";
export default {
  components: {
    DzBadge,
    DzTransitionHeight
  },
  data() {
    return {
      showLog: false,
      logList: [],
      status: {
        level: "",
        type: "",
        message: "",
        date: ""
      }
    };
  },
  mounted() {
    EventBus.$on("STATUS", payload => {
      this.showLog = false;
      payload.date = now.datetime();
      // if (payload.level === 'secondary')
      this.logList.push(payload);
      if (payload.level === "primary") this.status = payload;
      // emit('STATUS', { level: 'secondary', type: 'warning', message: 'Insert group "teste" finished' })
    });
  },
  methods: {
    clearLog() {
      this.logList = [];
      this.status = {
        level: "",
        type: "",
        message: "",
        date: ""
      };
    },
    getColor(type) {
      if (type === "warning") return "yellow";
      if (type === "success") return "green";
      if (type === "info") return "blue";
      if (type === "error") return "red";
      if (type === "normal") return "black";
    }
  }
};
</script>
