<template>
  <div class="loader-modal" :class="classObject">
    <div class="loader">
      <div class="loader-spinner q-px-md">
        <q-spinner-ball color="primary" size="2em" />
      </div>
      <div class="loader-message q-px-md">
        <span>Aguarde por favor</span>
        <div>
          {{ message }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from "@/support/event-bus";
export default {
  name: "DzLoader",
  data() {
    return {
      message: "",
      show: false
    };
  },
  computed: {
    classObject() {
      return {
        "is-show": this.show
      };
    }
  },
  mounted() {
    EventBus.$on("LOADER_TRIGGER", payload => {
      this.message = payload.message;
      this.show = payload.show;
    });
  }
};
</script>
<style lang="scss" scoped>
@import "./loader.css";
</style>
