.loader-modal {
  display: none;
  z-index: 3000;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
}

.loader-modal.is-show {
  display: flex;
}

.loader-modal.is-fixed {
  position: fixed;
}

.loader-modal .loader {
  display: flex;
  flex-direction: row;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 15px;
  border-radius: 2px;
  margin: 15px;
  min-width: 400px;
}

.loader-modal .loader .loader-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #212121;
}

.loader-modal .loader .loader-message span {
  font-weight: bolder;
}

.loader-modal .loader .loader-message div {
  font-size: 14px;
  color: #777;
  font-style: italic;
}
