.loader-modal {
    display: none;
    z-index: 3000;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    background: hsla(0, 0%, 100%, 0.95);
    width: 100%;
    &.is-show {
        display: flex;
    }
    &.is-fixed {
        position: fixed;
    }
    .loader {
        display: flex;
        flex-direction: row;
        background: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 15px;
        border-radius: 2px;
        margin: 15px;
        min-width: 400px;
        .loader-spinner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: bold; 
            color: #212121;
        }
        .loader-message {
            span {
                font-weight: bolder;
            }
            div {
                font-size: 14px; color: #777; font-style: italic;
            }
        }
    }
}


