.dz-dialog {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.3);
}

/* JANELA */
.dz-dialog__window {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 10px var(--dialog-window-shadow-color);
  border-radius: var(--dialog-window-border-radius);
  color: var(--dialog-window-color);
  background: var(--dialog-window-background);
  min-width: var(--dialog-window-min-width);
  max-width: var(--dialog-window-max-width);
}

/* HEADER */
.dz-dialog__header {
  display: flex;
  align-items: center;
  height: var(--dialog-header-height);
  background: var(--dialog-header-background);
  user-select: none;
}

.dz-dialog__header .dz-dialog__title {
  flex: 1 1 auto;
  padding: 0 20px;
  font-weight: bold;
  font-size: var(--dialog-title-font-size);
  text-align: var(--dialog-title-text-align);
}

.dz-dialog__header .dz-dialog__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: var(--dialog-btn-close-width);
  height: var(--dialog-btn-close-height);
  padding: var(--dialog-btn-close-padding);
  margin: var(--dialog-btn-close-margin);
  border: var(--dialog-btn-close-border);
  box-shadow: var(--dialog-btn-close-box-shadow);
  border-radius: var(--dialog-btn-close-border-radius);
  background: var(--dialog-btn-close-background);
  color: var(--dialog-btn-close-color);
}

.dz-dialog__header .dz-dialog__btn-close svg {
  width: var(--dialog-btn-close-icon-width);
  height: var(--dialog-btn-close-icon-height);
  fill: currentColor;
}

.dz-dialog__header .dz-dialog__btn-close:hover {
  color: var(--dialog-btn-close-hover-color);
}

/* BODY */
.dz-dialog__body {
  position: relative;
  display: flex;
  min-height: var(--dialog-body-min-height);
  font-size: var(--dialog-body-font-size);
  padding-right: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
}

.dz-dialog__body .dz-dialog__type-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px 15px 0;
  color: #8a8d93;
}

.dz-dialog__body .dz-dialog__type-icon svg {
  height: var(--dialog-body-icon-svg-height);
  width: var(--dialog-body-icon-svg-width);
  fill: currentColor;
}

.dz-dialog__body .dz-dialog__message {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

/* FOOTER */
.dz-dialog__footer {
  position: relative;
  display: flex;
  min-height: var(--dialog-footer-height);
  max-height: var(--dialog-footer-height);
  padding: var(--dialog-footer-padding);
  flex-direction: row-reverse;
  user-select: none;
}

.dz-dialog__footer .dz-dialog__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 35px;
  flex: 1 1 auto;
  padding: 0 30px;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  outline: none !important;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.dz-dialog__footer .dz-dialog__button:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #000;
  opacity: 0;
}

.dz-dialog__footer .dz-dialog__button svg {
  fill: currentColor;
}

.dz-dialog__footer .dz-dialog__btn-cancel {
  color: var(--dialog-btn-cancel-color);
  background: var(--dialog-btn-cancel-background-color);
}

.dz-dialog__footer .dz-dialog__btn-cancel:hover {
  color: var(--dialog-btn-cancel-hover-color);
  background: var(--dialog-btn-cancel-hover-background-color);
}

.dz-dialog--type-info .dz-dialog__type-icon {
  color: var(--dialog__body-icon-info-color);
}

.dz-dialog--type-info .dz-dialog__btn-confirm {
  color: var(--dialog-btn-confirm-info-color);
  background: var(--dialog-btn-confirm-info-background-color);
}

.dz-dialog--type-info .dz-dialog__btn-confirm:hover:before, .dz-dialog--type-info .dz-dialog__btn-confirm:focus:before {
  background: var(--dialog-btn-confirm-info-before-hover-background-color);
  opacity: var(--dialog-btn-confirm-info-before-opacity);
}

.dz-dialog--type-question .dz-dialog__type-icon {
  color: var(--dialog__body-icon-question-color);
}

.dz-dialog--type-question .dz-dialog__btn-confirm {
  color: var(--dialog-btn-confirm-question-color);
  background: var(--dialog-btn-confirm-question-background-color);
}

.dz-dialog--type-question .dz-dialog__btn-confirm:hover:before, .dz-dialog--type-question .dz-dialog__btn-confirm:focus:before {
  background: var(--dialog-btn-confirm-question-before-hover-background-color);
  opacity: var(--dialog-btn-confirm-question-before-opacity);
}

.dz-dialog--type-alert .dz-dialog__type-icon {
  color: var(--dialog__body-icon-alert-color);
}

.dz-dialog--type-alert .dz-dialog__btn-confirm {
  color: var(--dialog-btn-confirm-alert-color);
  background: var(--dialog-btn-confirm-alert-background-color);
}

.dz-dialog--type-alert .dz-dialog__btn-confirm:hover:before, .dz-dialog--type-alert .dz-dialog__btn-confirm:focus:before {
  background: var(--dialog-btn-confirm-alert-before-hover-background-color);
  opacity: var(--dialog-btn-confirm-alert-before-opacity);
}

.dz-dialog--type-error .dz-dialog__type-icon {
  color: var(--dialog__body-icon-error-color);
}

.dz-dialog--type-error .dz-dialog__btn-confirm {
  color: var(--dialog-btn-confirm-error-color);
  background: var(--dialog-btn-confirm-error-background-color);
}

.dz-dialog--type-error .dz-dialog__btn-confirm:hover:before, .dz-dialog--type-error .dz-dialog__btn-confirm:focus:before {
  background: var(--dialog-btn-confirm-error-before-hover-background-color);
  opacity: var(--dialog-btn-confirm-error-before-opacity);
}

.dz-dialog--type-success .dz-dialog__type-icon {
  color: var(--dialog__body-icon-success-color);
}

.dz-dialog--type-success .dz-dialog__btn-confirm {
  color: var(--dialog-btn-confirm-success-color);
  background: var(--dialog-btn-confirm-success-background-color);
}

.dz-dialog--type-success .dz-dialog__btn-confirm:hover:before, .dz-dialog--type-success .dz-dialog__btn-confirm:focus:before {
  background: var(--dialog-btn-confirm-success-before-hover-background-color);
  opacity: var(--dialog-btn-confirm-success-before-opacity);
}
