@charset "UTF-8";
:root {
  --dark-color: #22252a;
  --red-color: #db6574;
  --red-dark-color: #ea4545;
  --green-color: #429244;
  --blue-color: #37a1f4;
  --blue-dark-color: #3F51B5;
  --orange-color: #ff7b07;
  --orange-dark-color: #F15D22;
  --yellow-color: #FFCA40;
  --yellow-dark-color: #FAA41A;
  --purple-color: #9C27B0;
  --purple-dark-color: #7744AA;
  --pink-dark-color: #AB395B;
  --cyan-color: #2AA198;
  --font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
  --header-height: 50px;
  --header-title-font-size: 15px;
  --footer-logger-view-logs-max-height: 220px;
  --footer-logger-view-logger-message-font-size: 12px;
  --footer-logger-message-badge-max-width: 75px;
  --footer-logger-message-badge-min-width: 75px;
  /* DZ-DIALOG */
  --dialog-window-shadow-color: rgba(0, 0, 0, 0.4);
  --dialog-window-border-radius: 4px;
  --dialog-window-color: var(--text-color-default);
  --dialog-window-background: var(--background-color-default);
  --dialog-window-min-width: 250px;
  --dialog-window-max-width: 600px;
  /* HEADER */
  --dialog-header-height: 50px;
  --dialog-header-background: rgba(0, 0, 0, 0.1);
  --dialog-title-font-size: 20px;
  --dialog-title-text-align: left;
  --dialog-btn-close-width: 12px;
  --dialog-btn-close-height: 12px;
  --dialog-btn-close-padding: 0;
  --dialog-btn-close-margin: 0 15px;
  --dialog-btn-close-border: none;
  --dialog-btn-close-box-shadow: none;
  --dialog-btn-close-border-radius: 0;
  --dialog-btn-close-background: transparent;
  --dialog-btn-close-color: var(--text-color-default);
  --dialog-btn-close-hover-color: var(--red-color);
  --dialog-btn-close-icon-width: 12px;
  --dialog-btn-close-icon-height: 12px;
  /* BODY */
  --dialog-body-min-height: 80px;
  --dialog-body-font-size: 16px;
  --dialog-body-icon-padding: 15px 30px;
  --dialog-body-icon-color: var(--text-color-default);
  --dialog__body-icon-info-color: var(--blue-color);
  --dialog__body-icon-question-color: var(--yellow-color);
  --dialog__body-icon-alert-color: var(--red-color);
  --dialog__body-icon-error-color: var(--red-color);
  --dialog__body-icon-success-color: var(--green-color);
  --dialog-body-icon-svg-height: 50px;
  --dialog-body-icon-svg-width: 50px;
  /* FOOTER */
  --dialog-footer-height: 40px;
  --dialog-footer-padding: 0px;
  --dialog-btn-confirm-info-color: var(--blue-color);
  --dialog-btn-confirm-info-background-color: transparent;
  --dialog-btn-confirm-info-hover-color: var(--blue-color);
  --dialog-btn-confirm-info-hover-background-color: transparent;
  --dialog-btn-confirm-info-before-hover-color: var(--blue-color);
  --dialog-btn-confirm-info-before-hover-background-color: currentColor !important;
  --dialog-btn-confirm-info-before-opacity: 0.3;
  --dialog-btn-confirm-question-color: var(--yellow-color);
  --dialog-btn-confirm-question-background-color: transparent;
  --dialog-btn-confirm-question-hover-color: var(--yellow-color);
  --dialog-btn-confirm-question-hover-background-color: transparent;
  --dialog-btn-confirm-question-before-hover-color: var(--yellow-color);
  --dialog-btn-confirm-question-before-hover-background-color: currentColor !important;
  --dialog-btn-confirm-question-before-opacity: 0.3;
  --dialog-btn-confirm-error-color: var(--red-color);
  --dialog-btn-confirm-error-background-color: transparent;
  --dialog-btn-confirm-error-hover-color: var(--red-color);
  --dialog-btn-confirm-error-hover-background-color: transparent;
  --dialog-btn-confirm-error-before-hover-color: var(--red-color);
  --dialog-btn-confirm-error-before-hover-background-color: currentColor !important;
  --dialog-btn-confirm-error-before-opacity: 0.3;
  --dialog-btn-confirm-alert-color: var(--red-color);
  --dialog-btn-confirm-alert-background-color: transparent;
  --dialog-btn-confirm-alert-hover-color: var(--red-color);
  --dialog-btn-confirm-alert-hover-background-color: transparent;
  --dialog-btn-confirm-alert-before-hover-color: var(--red-color);
  --dialog-btn-confirm-alert-before-hover-background-color: currentColor !important;
  --dialog-btn-confirm-alert-before-opacity: 0.3;
  --dialog-btn-confirm-success-color: var(--green-color);
  --dialog-btn-confirm-success-background-color: transparent;
  --dialog-btn-confirm-success-hover-color: var(--green-color);
  --dialog-btn-confirm-success-hover-background-color: transparent;
  --dialog-btn-confirm-success-before-hover-color: var(--green-color);
  --dialog-btn-confirm-success-before-hover-background-color: currentColor !important;
  --dialog-btn-confirm-success-before-opacity: 0.3;
  --dialog-btn-cancel-color: var(--text-color-default);
  --dialog-btn-cancel-hover-color: var(--text-color-default);
  --dialog-btn-cancel-background-color: transparent;
  --dialog-btn-cancel-hover-background-color: rgba(0, 0, 0, 0.1);
}

[data-primary-color^="red"],
[data-primary-color] [data-primary-color^="red"] {
  --primary-color: var(--red-color);
}

[data-primary-color^="green"],
[data-primary-color] [data-primary-color^="green"] {
  --primary-color: var(--green-color);
}

[data-primary-color^="blue"],
[data-primary-color] [data-primary-color^="blue"] {
  --primary-color: var(--blue-color);
}

[data-primary-color^="orange"],
[data-primary-color] [data-primary-color^="orange"] {
  --primary-color: var(--orange-color);
}

[data-primary-color^="yellow"],
[data-primary-color] [data-primary-color^="yellow"] {
  --primary-color: var(--yellow-color);
}

[data-theme-mode^="light"],
[data-theme-mode] [data-theme-mode^="light"] {
  --background-color-default: #eeeeee;
  --text-color-default: #414141;
  --border-color-default: #bbbbbb;
  --header-background: #333333;
  --header-text-color: #ccc;
  --header-border-bottom-color: var(--border-color-default);
  --header-menu-button-color: var(--header-text-color);
  --header-menu-button-hover-background-color: var(--dark-color);
  --header-menu-button-hover-icon-color: var(--primary-color);
  --header-title-distro-name-color: var(--primary-color);
  --header-title-app-name-color: var(--header-text-color);
  --header-control-color: var(--header-text-color);
  --header-controls-minimize-hover-color: var(--blue-color);
  --header-controls-restore-hover-color: var(--green-color);
  --header-controls-maximize-hover-color: var(--green-color);
  --header-controls-close-hover-color: var(--red-color);
  --sidebar-border-left-color: var(--border-color-default);
  --sidebar-border-right-color: var(--border-color-default);
  --sidebar-background-color: #dedede;
  --sidebar-text-color: var(--text-color-default);
  --sidebar-title-button-color: var(--text-color-default);
  --sidebar-title-button-hover-color: var(--primary-color);
  --sidebar-item-button-color: var(--text-color-default);
  --sidebar-item-button-hover-color: var(--red-color);
  --sidebar-item-tittle-color: var(--text-color-default);
  --sidebar-item-caption-color: var(--text-color-default);
  --sidebar-item-active-background-color: rgba(0, 0, 0, 0.1) !important;
  --sidebar-item-active-tittle-color: var(--text-color-default);
  --sidebar-item-active-caption-color: var(--text-color-default);
  --sidebar-item-active-border-left-color: var(--primary-color);
  --main-background-color: var(--background-color-default);
  --main-border-right-color: var(--border-color-default);
  --main-text-color: var(--text-color-default);
  --main-notify-border-bottom-color: var(--border-color-default);
  --main-notify-background-color: var(--main-background-color);
  --main-notify-text-color: var(--red-color);
  --footer-background-color: #cecece;
  --footer-text-color: var(--text-color-default);
  --footer-border-top-color: var(--border-color-default);
  --footer-border-right-color: var(--border-color-default);
  --footer-border-bottom-color: var(--border-color-default);
  --footer-border-left-color: var(--border-color-default);
  --footer-statusbar-primary-border-top-color: var(--border-color-default);
  --footer-logger-view-background-color: #fff;
  --footer-logger-view-controlbar-background-color: #f1f1f1;
  --footer-logger-view-button-hover-color: var(--red-color);
}

[data-theme-mode^="dark"],
[data-theme-mode] [data-theme-mode^="dark"] {
  --background-color-default: #2d3035;
  --text-color-default: #8a8d93;
  --border-color-default: #34373d;
  --header-background: var(--background-color-default);
  --header-text-color: var(--text-color-default);
  --header-border-bottom-color: var(--border-color-default);
  --header-title-distro-name-color: var(--primary-color);
  --header-title-app-name-color: var(--text-color-default);
  --header-controls-default-color: var(--text-color-default);
  --header-controls-minimize-hover-color: var(--blue-color);
  --header-controls-restore-hover-color: var(--green-color);
  --header-controls-maximize-hover-color: var(--green-color);
  --header-controls-close-hover-color: var(--red-color);
  --sidebar-border-right-color: var(--border-color-default);
  --sidebar-background-color: var(--background-color-default);
  --sidebar-text-color: var(--text-color-default);
  --sidebar-title-button-color: var(--text-color-default);
  --sidebar-title-button-hover-color: var(--primary-color);
  --sidebar-item-button-color: var(--text-color-default);
  --sidebar-item-button-hover-color: var(--red-color);
  --sidebar-item-tittle-color: var(--text-color-default);
  --sidebar-item-caption-color: var(--text-color-default);
  --sidebar-item-active-background-color: #34373d !important;
  --sidebar-item-active-tittle-color: var(--text-color-default);
  --sidebar-item-active-caption-color: var(--text-color-default);
  --sidebar-item-active-border-left-color: var(--primary-color);
  --main-background-color: var(--background-color-default);
  --main-text-color: var(--text-color-default);
  --main-notify-border-bottom-color: var(--border-color-default);
  --main-notify-background-color: var(--background-color-default);
  --main-notify-text-color: var(--red-color);
  --footer-background-color: var(--background-color-default);
  --footer-text-color: var(--text-color-default);
  --footer-border-top-color: var(--border-color-default);
  --footer-logger-view-background-color: #30353e;
  --footer-logger-view-button-hover-color: var(--red-color);
}

/*
      // Base
        // "foreground": "",
        "focusBorder": "#DEDEDE",
        // "contrastActiveBorder": "",
        // "contrastBorder": "",

        // "widget.shadow": "",
        "textLink.foreground": "#FAA41A",
        "textLink.activeForeground": "#FFCA40",
        "tab.activeForeground": "#FFCA40",
        "input.background": "#2B2928",
        "input.border": "#0008",
        "input.foreground": "#c45555",
        "input.placeholderForeground": "#DEDEDE88",
        "inputOption.activeBorder": "#FAA41A",
        // "inputValidation.infoBorder": "",
        // "inputValidation.infoBackground": "",
        // "inputValidation.warningBackground": "",
        // "inputValidation.warningBorder": "",
        // "inputValidation.errorBackground": "",
        // "inputValidation.errorBorder": "",

        "badge.background": "#CF3B00",
        "progressBar.background": "#1C8D9B",

        "dropdown.background": "#33302F",
        "dropdown.foreground": "#DEDEDE",
        "dropdown.border": "#63524b00",

        "button.background": "#2B2928",
        // "button.foreground": "",

        "selection.background": "#1C8D9B",

        "list.activeSelectionBackground": "#1C8D9B",
        "list.activeSelectionForeground": "#FFF",
        "list.focusBackground": "#1C8D9B",
        "list.focusForeground": "#DEDEDE",
        "list.hoverBackground": "#DEDEDE44",
        "list.inactiveSelectionBackground": "#1C8D9BAA",
        "list.highlightForeground": "#FAA41A",

        // "scrollbar.shadow": "",
        // "scrollbarSlider.activeBackground": "",
        // "scrollbarSlider.background": "",
        // "scrollbarSlider.hoverBackground": "",

        
        
        // Editor
        "editor.background": "#3F3B39",
        "editor.foreground": "#DEDEDE",
        "editorWidget.background": "#2B2928",
        "editorCursor.foreground": "#DEDEDE",
        "editorWhitespace.foreground": "#DEDEDE11",
        "editor.lineHighlightBackground": "#4C4845",
        "editor.selectionBackground": "#00616F",
        // "editorIndentGuide.background": "",
        "editorHoverWidget.background": "#2B2928",
        // "editorHoverWidget.border": "",
        "editorLineNumber.foreground": "#DEDEDE88",
        "editorLineNumber.activeForeground": "#DEDEDE",
        // "editorMarkerNavigation.background": "",
        // "editorMarkerNavigationError.background": "",
        // "editorMarkerNavigationWarning.background": "",
        // "editorLink.activeForeground": "",
        // "editor.findMatchBackground": "",
        // "editor.findMatchHighlightBackground": "",
        // "editor.findRangeHighlightBackground": "",
        // "editor.hoverHighlightBackground": "",
        // "editor.inactiveSelectionBackground": "",
        // "editor.lineHighlightBorder": "",
        // "editor.rangeHighlightBackground": "",
        // "editor.selectionHighlightBackground": "",
        // "editor.wordHighlightBackground": "",
        // "editor.wordHighlightStrongBackground": "",

        // Editor: Suggest Widget
        // "editorSuggestWidget.background": "",
        // "editorSuggestWidget.border": "",
        // "editorSuggestWidget.foreground": "",
        // "editorSuggestWidget.highlightForeground": "",
        // "editorSuggestWidget.selectedBackground": "",

        // Editor: Peek View
        "peekViewResult.background": "#2B2928",
        // "peekViewResult.lineForeground": "",
        // "peekViewResult.selectionBackground": "",
        // "peekViewResult.selectionForeground": "",
        "peekViewEditor.background": "#3F3B39",
        "peekViewTitle.background": "#393634",
        "peekView.border": "#faa41a",
        "peekViewEditor.matchHighlightBackground": "#7744AA40",
        // "peekViewResult.fileForeground": "",
        // "peekViewResult.matchHighlightBackground": "",
        // "peekViewTitleLabel.foreground": "",
        // "peekViewTitleDescription.foreground": "",

        // Editor: Diff
        // "diffEditor.insertedTextBackground": "",
        // "diffEditor.insertedTextBorder": "",
        // "diffEditor.removedTextBackground": "",
        // "diffEditor.removedTextBorder": "",

        // Workbench: Title
        "titleBar.activeBackground": "#3B3735",
        "titleBar.activeForeground": "#DEDEDE",
        "titleBar.inactiveBackground": "#484441",
        "titleBar.inactiveForeground": "#DEDEDEAA",

        // Workbench: Editors
        "editorGroupHeader.noTabsBackground": "#393634",
        "editorGroup.border": "#DEDEDE22",
        "editorGroup.background": "#FFFBF2",
        "editorGroup.dropBackground": "#bbb5b3AA",
        "editorGroupHeader.tabsBackground": "#393634",

        // Workbench: Tabs
        "tab.border": "#0000",
        "tab.inactiveForeground": "#DEDEDE",
        "tab.inactiveBackground": "#00000000",
        "tab.activeForeground": "#FFCA40",
        "tab.activeBackground": "#0000",
        "tab.activeBorder": "#FAA41A",

        // Workbench: Activity Bar
        "activityBar.background": "#4d4643",
        "activityBar.foreground": "#fdf6e3",
        "activityBar.dropBackground": "#d3d0d0",
        "activityBarBadge.background": "#faa41a",
		"activityBarBadge.foreground": "#4d4643",
		"activityBar.activeBorder":"#FAA41A",
		"activityBar.activeBackground":"#383534",

        // Workbench: Panel
        "panel.background": "#33302F",
        "panel.border": "#FFF1",
        // "panelTitle.activeBorder": "",
        "panelTitle.activeForeground": "#FFCA40",
        "panelTitle.activeBorder": "#FAA41A",
        // "panelTitle.inactiveForeground": "",

        // Workbench: Side Bar
        "sideBar.background": "#2B2928",
        "sideBar.foreground":"#DEDEDE",
        "sideBarTitle.foreground": "#DEDEDEAA",
        "sideBarSectionHeader.background": "#463E39",
        "sideBarSectionHeader.foreground": "#DEDEDE",

        // Workbench: Status Bar
        "statusBar.foreground": "#DEDEDE",
        "statusBar.background": "#2B2928",
        "statusBar.debuggingBackground": "#d3d0d0",
        "statusBar.noFolderBackground": "#403C3A",
        "statusBarItem.prominentBackground": "#403C3A",
        "statusBarItem.prominentHoverBackground": "#DEDEDE22",
        // "statusBarItem.activeBackground": "",
        // "statusBarItem.hoverBackground": "",

        // Workbench: Debug
        "debugToolBar.background": "#AC1800",
        "debugExceptionWidget.background": "#393634",
        "debugExceptionWidget.border": "#AB395B",

        // Workbench: Notifications
        "notification.background": "#bebebe",
        "notification.infoBackground": "#48b9c7",
        "notification.infoForeground": "#ffffff",
        "notification.buttonBackground": "#48b9c7",
        "notification.warningBackground": "#bebebe",
        "notification.foreground": "#383838",

        // Workbench: Quick Open
        "pickerGroup.border": "#2AA19899",
        "pickerGroup.foreground": "#2AA19899",

        // Extensions
        "extensionButton.prominentBackground": "#faa41a",
        "extensionButton.prominentHoverBackground": "#584c27aa",

        // Workbench: Terminal

        "terminal.ansiBlack": "#111",
        "terminal.ansiRed": "#F15D22",
        "terminal.ansiGreen": "#73C48F",
        "terminal.ansiYellow": "#faa41a",
        "terminal.ansiBlue": "#3F51B5",
        "terminal.ansiMagenta": "#9C27B0",
        "terminal.ansiCyan": "#48B9C7",
        "terminal.ansiWhite": "#DEDEDE",
        "terminal.ansiBrightBlack": "#574F4A",
        "terminal.ansiBrightRed": "#cb4b16",
        "terminal.ansiBrightGreen": "#574e4a",
        "terminal.ansiBrightYellow": "#657b83",
        "terminal.ansiBrightBlue": "#839496",
        "terminal.ansiBrightMagenta": "#6c71c4",
        "terminal.ansiBrightCyan": "#93a1a1",
        "terminal.ansiBrightWhite": "#d3d0d0"
*/
html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

body,
#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
  display: grid;
  grid-template-areas: "header header header" "aside main main " "footer footer footer";
  grid-template-columns: 300px auto auto;
  grid-template-rows: var(--header-height) auto minmax(min-content, max-content);
  background: var(--background-color-default);
  color: var(--text-color-default);
  font-family: var(--font-family) !important;
}

/* RESET */
:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

::-webkit-scrollbar-track {
  /*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background: transparent;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10rem;
}

.scrollabled {
  overflow-y: auto;
}

.dz-dialog {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.3);
}

/* JANELA */
.dz-dialog__window {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 10px var(--dialog-window-shadow-color);
  border-radius: var(--dialog-window-border-radius);
  color: var(--dialog-window-color);
  background: var(--dialog-window-background);
  min-width: var(--dialog-window-min-width);
  max-width: var(--dialog-window-max-width);
}

/* HEADER */
.dz-dialog__header {
  display: flex;
  align-items: center;
  height: var(--dialog-header-height);
  background: var(--dialog-header-background);
  user-select: none;
}

.dz-dialog__header .dz-dialog__title {
  flex: 1 1 auto;
  padding: 0 20px;
  font-weight: bold;
  font-size: var(--dialog-title-font-size);
  text-align: var(--dialog-title-text-align);
}

.dz-dialog__header .dz-dialog__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: var(--dialog-btn-close-width);
  height: var(--dialog-btn-close-height);
  padding: var(--dialog-btn-close-padding);
  margin: var(--dialog-btn-close-margin);
  border: var(--dialog-btn-close-border);
  box-shadow: var(--dialog-btn-close-box-shadow);
  border-radius: var(--dialog-btn-close-border-radius);
  background: var(--dialog-btn-close-background);
  color: var(--dialog-btn-close-color);
}

.dz-dialog__header .dz-dialog__btn-close svg {
  width: var(--dialog-btn-close-icon-width);
  height: var(--dialog-btn-close-icon-height);
  fill: currentColor;
}

.dz-dialog__header .dz-dialog__btn-close:hover {
  color: var(--dialog-btn-close-hover-color);
}

/* BODY */
.dz-dialog__body {
  position: relative;
  display: flex;
  min-height: var(--dialog-body-min-height);
  font-size: var(--dialog-body-font-size);
  padding-right: 30px;
  padding-left: 25px;
  padding-bottom: 5px;
}

.dz-dialog__body .dz-dialog__type-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px 15px 0;
  color: #8a8d93;
}

.dz-dialog__body .dz-dialog__type-icon svg {
  height: var(--dialog-body-icon-svg-height);
  width: var(--dialog-body-icon-svg-width);
  fill: currentColor;
}

.dz-dialog__body .dz-dialog__message {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

/* FOOTER */
.dz-dialog__footer {
  position: relative;
  display: flex;
  min-height: var(--dialog-footer-height);
  max-height: var(--dialog-footer-height);
  padding: var(--dialog-footer-padding);
  flex-direction: row-reverse;
  user-select: none;
}

.dz-dialog__footer .dz-dialog__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 35px;
  flex: 1 1 auto;
  padding: 0 30px;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  outline: none !important;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.dz-dialog__footer .dz-dialog__button:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #000;
  opacity: 0;
}

.dz-dialog__footer .dz-dialog__button svg {
  fill: currentColor;
}

.dz-dialog__footer .dz-dialog__btn-cancel {
  color: var(--dialog-btn-cancel-color);
  background: var(--dialog-btn-cancel-background-color);
}

.dz-dialog__footer .dz-dialog__btn-cancel:hover {
  color: var(--dialog-btn-cancel-hover-color);
  background: var(--dialog-btn-cancel-hover-background-color);
}

.dz-dialog--type-info .dz-dialog__type-icon {
  color: var(--dialog__body-icon-info-color);
}

.dz-dialog--type-info .dz-dialog__btn-confirm {
  color: var(--dialog-btn-confirm-info-color);
  background: var(--dialog-btn-confirm-info-background-color);
}

.dz-dialog--type-info .dz-dialog__btn-confirm:hover:before, .dz-dialog--type-info .dz-dialog__btn-confirm:focus:before {
  background: var(--dialog-btn-confirm-info-before-hover-background-color);
  opacity: var(--dialog-btn-confirm-info-before-opacity);
}

.dz-dialog--type-question .dz-dialog__type-icon {
  color: var(--dialog__body-icon-question-color);
}

.dz-dialog--type-question .dz-dialog__btn-confirm {
  color: var(--dialog-btn-confirm-question-color);
  background: var(--dialog-btn-confirm-question-background-color);
}

.dz-dialog--type-question .dz-dialog__btn-confirm:hover:before, .dz-dialog--type-question .dz-dialog__btn-confirm:focus:before {
  background: var(--dialog-btn-confirm-question-before-hover-background-color);
  opacity: var(--dialog-btn-confirm-question-before-opacity);
}

.dz-dialog--type-alert .dz-dialog__type-icon {
  color: var(--dialog__body-icon-alert-color);
}

.dz-dialog--type-alert .dz-dialog__btn-confirm {
  color: var(--dialog-btn-confirm-alert-color);
  background: var(--dialog-btn-confirm-alert-background-color);
}

.dz-dialog--type-alert .dz-dialog__btn-confirm:hover:before, .dz-dialog--type-alert .dz-dialog__btn-confirm:focus:before {
  background: var(--dialog-btn-confirm-alert-before-hover-background-color);
  opacity: var(--dialog-btn-confirm-alert-before-opacity);
}

.dz-dialog--type-error .dz-dialog__type-icon {
  color: var(--dialog__body-icon-error-color);
}

.dz-dialog--type-error .dz-dialog__btn-confirm {
  color: var(--dialog-btn-confirm-error-color);
  background: var(--dialog-btn-confirm-error-background-color);
}

.dz-dialog--type-error .dz-dialog__btn-confirm:hover:before, .dz-dialog--type-error .dz-dialog__btn-confirm:focus:before {
  background: var(--dialog-btn-confirm-error-before-hover-background-color);
  opacity: var(--dialog-btn-confirm-error-before-opacity);
}

.dz-dialog--type-success .dz-dialog__type-icon {
  color: var(--dialog__body-icon-success-color);
}

.dz-dialog--type-success .dz-dialog__btn-confirm {
  color: var(--dialog-btn-confirm-success-color);
  background: var(--dialog-btn-confirm-success-background-color);
}

.dz-dialog--type-success .dz-dialog__btn-confirm:hover:before, .dz-dialog--type-success .dz-dialog__btn-confirm:focus:before {
  background: var(--dialog-btn-confirm-success-before-hover-background-color);
  opacity: var(--dialog-btn-confirm-success-before-opacity);
}

.q-field__control {
  color: var(--primary-color) !important;
}

.q-field .q-field__control:hover::before {
  border-color: var(--primary-color) !important;
}

.q-field--focused .q-field__control::before {
  border-color: var(--primary-color) !important;
}

.q-field .q-field__label {
  color: var(--text-color-default) !important;
}

.q-field--outlined .q-field__control::before {
  border: 1px solid var(--border-color-default) !important;
}

.q-field__input,
.q-field__native {
  color: var(--text-color-default) !important;
  font-weight: 700 !important;
}

/* q-select options*/
.q-menu.q-position-engine.scroll {
  background: var(--background-color-default) !important;
}

.q-field__bottom {
  padding: 2px 12px 0;
}

.q-chip {
  background: rgba(0, 0, 0, 0.2);
  color: var(--text-color-default);
  border-radius: 5px;
  padding: 0 0.8em;
  height: 1.6em;
}

.q-chip .q-chip__content {
  margin-right: 5px;
}

.q-chip .q-chip__icon:hover {
  color: var(--red-color);
}

.q-virtual-scroll__content {
  background: var(--background-color-default) !important;
  color: var(--text-color-default) !important;
}

.q-virtual-scroll__content .q-item--active,
.q-item.q-router-link--active {
  color: var(--primary-color);
}

.q-field__append {
  color: var(--text-color-default) !important;
}

.q-toggle__inner {
  color: var(--primary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-negative {
  color: var(--red-color) !important;
}

.text-red {
  color: var(--red-color) !important;
}

.text-green {
  color: var(--green-color) !important;
}

.text-blue {
  color: var(--blue-color) !important;
}

.text-orange {
  color: var(--orange-color) !important;
}

.text-yellow {
  color: var(--yellow-color) !important;
}

.text-dark {
  color: var(--dark-color) !important;
}

.text-white {
  color: #fff;
}

.bg-primary {
  background: var(--primary-color) !important;
}

.bg-negative {
  background: var(--red-color) !important;
}

.bg-red {
  background: var(--red-color) !important;
}

.bg-green {
  background: var(--green-color) !important;
}

.bg-blue {
  background: var(--blue-color) !important;
}

.bg-orange {
  background: var(--orange-color) !important;
}

.bg-yellow {
  background: var(--yellow-color) !important;
}

.bg-dark {
  background: var(--dark-color) !important;
}

.bg-white {
  background: #fff;
}

.q-field--error .q-field__bottom {
  color: var(--red-color) !important;
}

.loader-modal {
  background: rgba(0, 0, 0, 0.3) !important;
}

.loader-modal .loader {
  background: var(--background-color-default) !important;
}

header.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  grid-area: header;
  display: flex;
  flex-wrap: nowrap;
  /* Dimensões */
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  /* Cores */
  background: var(--header-background);
  color: var(--header-text-color);
  border-bottom: 1px solid var(--header-border-bottom-color);
}

header.titlebar .menu {
  -webkit-app-region: no-drag;
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 100%;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: transparent !important;
}

header.titlebar .menu .menu__button {
  -webkit-app-region: no-drag;
  height: 100%;
}

header.titlebar .menu .menu__button svg {
  height: 20px;
}

header.titlebar .menu:hover .menu__button {
  color: var(--primary-color);
}

header.titlebar .menu .menu__container {
  -webkit-app-region: no-drag;
  display: none;
  position: absolute;
  z-index: 1000;
  left: -5px;
  cursor: default;
}

header.titlebar .menu .menu__shadow {
  z-index: 1;
  display: block;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

header.titlebar .menu .menu__shadow:after {
  z-index: 10;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  top: 0;
  left: 20px;
  box-sizing: border-box;
  border: 8px solid black;
  border-color: var(--background-color-default) var(--background-color-default) transparent transparent;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

header.titlebar .menu .menu__content {
  z-index: 100;
  -webkit-app-region: no-drag;
  color: #3a3a3a;
  background-color: var(--background-color-default);
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 200px;
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  color: var(--text-color-default);
  background: var(--background-color-default);
}

header.titlebar .menu .menu__content strong {
  margin-bottom: 10px;
}

header.titlebar .menu:hover .menu__container {
  display: block;
}

header.titlebar .title {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--header-title-font-size);
}

header.titlebar .title .title__distro-name {
  color: var(--header-title-distro-name-color);
  margin-left: 10px;
  margin-right: 10px;
}

header.titlebar .title .title__app-name {
  color: var(--header-title-app-name-color);
}

header.titlebar .controls {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

header.titlebar .controls svg {
  height: 15px;
}

header.titlebar .controls .controls__minimize:hover {
  color: var(--header-controls-minimize-hover-color);
}

header.titlebar .controls .controls__restore:hover {
  color: var(--header-controls-restore-hover-color);
}

header.titlebar .controls .controls__maximize:hover {
  color: var(--header-controls-maximize-hover-color);
}

header.titlebar .controls .controls__close:hover {
  color: var(--header-controls-close-hover-color);
}

header.titlebar .control {
  -webkit-app-region: no-drag;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  transition: background-color 0.25s ease;
  text-align: center;
  color: var(--header-control-color);
}

header.titlebar .control svg {
  fill: currentColor;
}

aside.sidebar {
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--sidebar-border-right-color);
  border-left: 1px solid var(--sidebar-border-left-color);
  /* Cores */
  background: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
}

aside.sidebar .sidebar--title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  max-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

aside.sidebar .sidebar--title strong {
  flex: 1 1 auto;
  text-align: center;
  font-size: 1.1em;
}

aside.sidebar .sidebar--title .sidebar--title--button {
  -webkit-app-region: no-drag;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  transition: background-color 0.25s ease;
  text-align: center;
  color: var(--sidebar-title-button-color);
}

aside.sidebar .sidebar--title .sidebar--title--button svg {
  fill: currentColor;
  height: 20px;
}

aside.sidebar .sidebar--title .sidebar--title--button:hover {
  color: var(--sidebar-title-button-hover-color);
}

aside.sidebar .sidebar--item .sidebar--item--button {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  transition: background-color 0.25s ease;
  text-align: center;
  color: var(--sidebar-item-button-color);
}

aside.sidebar .sidebar--item .sidebar--item--button svg {
  fill: currentColor;
  height: 20px;
}

aside.sidebar .sidebar--item .sidebar--item--button:hover {
  color: var(--sidebar-item-button-hover-color);
}

aside.sidebar .sidebar--item:hover .sidebar--item--button {
  visibility: visible;
}

aside.sidebar .sidebar--item .sidebar--item--tittle {
  color: var(--sidebar-item-tittle-color);
  font-weight: bold;
}

aside.sidebar .sidebar--item .sidebar--item--caption {
  color: var(--sidebar-item-caption-color);
  font-weight: 300;
}

aside.sidebar .sidebar--item.sidebar--item--active {
  background: var(--sidebar-item-active-background-color);
  color: var(--sidebar-item-active-tittle-color);
}

aside.sidebar .sidebar--item.sidebar--item--active .sidebar--item--tittle {
  color: var(--sidebar-item-active-tittle-color);
  font-weight: bold;
}

aside.sidebar .sidebar--item.sidebar--item--active .sidebar--item--caption {
  color: var(--sidebar-item-active-caption-color);
  font-weight: 300;
}

aside.sidebar .sidebar--item.sidebar--item--active::before {
  background: var(--sidebar-item-active-border-left-color);
  content: "";
  width: 4px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

:root {
  --dark-color: #22252a;
  --red-color: #db6574;
  --red-dark-color: #ea4545;
  --green-color: #429244;
  --blue-color: #37a1f4;
  --blue-dark-color: #3F51B5;
  --orange-color: #ff7b07;
  --orange-dark-color: #F15D22;
  --yellow-color: #FFCA40;
  --yellow-dark-color: #FAA41A;
  --purple-color: #9C27B0;
  --purple-dark-color: #7744AA;
  --pink-dark-color: #AB395B;
  --cyan-color: #2AA198;
  --font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
  --header-height: 50px;
  --header-title-font-size: 15px;
  --footer-logger-view-logs-max-height: 220px;
  --footer-logger-view-logger-message-font-size: 12px;
  --footer-logger-message-badge-max-width: 75px;
  --footer-logger-message-badge-min-width: 75px;
  /* DZ-DIALOG */
  --dialog-window-shadow-color: rgba(0, 0, 0, 0.4);
  --dialog-window-border-radius: 4px;
  --dialog-window-color: var(--text-color-default);
  --dialog-window-background: var(--background-color-default);
  --dialog-window-min-width: 250px;
  --dialog-window-max-width: 600px;
  /* HEADER */
  --dialog-header-height: 50px;
  --dialog-header-background: rgba(0, 0, 0, 0.1);
  --dialog-title-font-size: 20px;
  --dialog-title-text-align: left;
  --dialog-btn-close-width: 12px;
  --dialog-btn-close-height: 12px;
  --dialog-btn-close-padding: 0;
  --dialog-btn-close-margin: 0 15px;
  --dialog-btn-close-border: none;
  --dialog-btn-close-box-shadow: none;
  --dialog-btn-close-border-radius: 0;
  --dialog-btn-close-background: transparent;
  --dialog-btn-close-color: var(--text-color-default);
  --dialog-btn-close-hover-color: var(--red-color);
  --dialog-btn-close-icon-width: 12px;
  --dialog-btn-close-icon-height: 12px;
  /* BODY */
  --dialog-body-min-height: 80px;
  --dialog-body-font-size: 16px;
  --dialog-body-icon-padding: 15px 30px;
  --dialog-body-icon-color: var(--text-color-default);
  --dialog__body-icon-info-color: var(--blue-color);
  --dialog__body-icon-question-color: var(--yellow-color);
  --dialog__body-icon-alert-color: var(--red-color);
  --dialog__body-icon-error-color: var(--red-color);
  --dialog__body-icon-success-color: var(--green-color);
  --dialog-body-icon-svg-height: 50px;
  --dialog-body-icon-svg-width: 50px;
  /* FOOTER */
  --dialog-footer-height: 40px;
  --dialog-footer-padding: 0px;
  --dialog-btn-confirm-info-color: var(--blue-color);
  --dialog-btn-confirm-info-background-color: transparent;
  --dialog-btn-confirm-info-hover-color: var(--blue-color);
  --dialog-btn-confirm-info-hover-background-color: transparent;
  --dialog-btn-confirm-info-before-hover-color: var(--blue-color);
  --dialog-btn-confirm-info-before-hover-background-color: currentColor !important;
  --dialog-btn-confirm-info-before-opacity: 0.3;
  --dialog-btn-confirm-question-color: var(--yellow-color);
  --dialog-btn-confirm-question-background-color: transparent;
  --dialog-btn-confirm-question-hover-color: var(--yellow-color);
  --dialog-btn-confirm-question-hover-background-color: transparent;
  --dialog-btn-confirm-question-before-hover-color: var(--yellow-color);
  --dialog-btn-confirm-question-before-hover-background-color: currentColor !important;
  --dialog-btn-confirm-question-before-opacity: 0.3;
  --dialog-btn-confirm-error-color: var(--red-color);
  --dialog-btn-confirm-error-background-color: transparent;
  --dialog-btn-confirm-error-hover-color: var(--red-color);
  --dialog-btn-confirm-error-hover-background-color: transparent;
  --dialog-btn-confirm-error-before-hover-color: var(--red-color);
  --dialog-btn-confirm-error-before-hover-background-color: currentColor !important;
  --dialog-btn-confirm-error-before-opacity: 0.3;
  --dialog-btn-confirm-alert-color: var(--red-color);
  --dialog-btn-confirm-alert-background-color: transparent;
  --dialog-btn-confirm-alert-hover-color: var(--red-color);
  --dialog-btn-confirm-alert-hover-background-color: transparent;
  --dialog-btn-confirm-alert-before-hover-color: var(--red-color);
  --dialog-btn-confirm-alert-before-hover-background-color: currentColor !important;
  --dialog-btn-confirm-alert-before-opacity: 0.3;
  --dialog-btn-confirm-success-color: var(--green-color);
  --dialog-btn-confirm-success-background-color: transparent;
  --dialog-btn-confirm-success-hover-color: var(--green-color);
  --dialog-btn-confirm-success-hover-background-color: transparent;
  --dialog-btn-confirm-success-before-hover-color: var(--green-color);
  --dialog-btn-confirm-success-before-hover-background-color: currentColor !important;
  --dialog-btn-confirm-success-before-opacity: 0.3;
  --dialog-btn-cancel-color: var(--text-color-default);
  --dialog-btn-cancel-hover-color: var(--text-color-default);
  --dialog-btn-cancel-background-color: transparent;
  --dialog-btn-cancel-hover-background-color: rgba(0, 0, 0, 0.1);
}

[data-primary-color^="red"],
[data-primary-color] [data-primary-color^="red"] {
  --primary-color: var(--red-color);
}

[data-primary-color^="green"],
[data-primary-color] [data-primary-color^="green"] {
  --primary-color: var(--green-color);
}

[data-primary-color^="blue"],
[data-primary-color] [data-primary-color^="blue"] {
  --primary-color: var(--blue-color);
}

[data-primary-color^="orange"],
[data-primary-color] [data-primary-color^="orange"] {
  --primary-color: var(--orange-color);
}

[data-primary-color^="yellow"],
[data-primary-color] [data-primary-color^="yellow"] {
  --primary-color: var(--yellow-color);
}

[data-theme-mode^="light"],
[data-theme-mode] [data-theme-mode^="light"] {
  --background-color-default: #eeeeee;
  --text-color-default: #414141;
  --border-color-default: #bbbbbb;
  --header-background: #333333;
  --header-text-color: #ccc;
  --header-border-bottom-color: var(--border-color-default);
  --header-menu-button-color: var(--header-text-color);
  --header-menu-button-hover-background-color: var(--dark-color);
  --header-menu-button-hover-icon-color: var(--primary-color);
  --header-title-distro-name-color: var(--primary-color);
  --header-title-app-name-color: var(--header-text-color);
  --header-control-color: var(--header-text-color);
  --header-controls-minimize-hover-color: var(--blue-color);
  --header-controls-restore-hover-color: var(--green-color);
  --header-controls-maximize-hover-color: var(--green-color);
  --header-controls-close-hover-color: var(--red-color);
  --sidebar-border-left-color: var(--border-color-default);
  --sidebar-border-right-color: var(--border-color-default);
  --sidebar-background-color: #dedede;
  --sidebar-text-color: var(--text-color-default);
  --sidebar-title-button-color: var(--text-color-default);
  --sidebar-title-button-hover-color: var(--primary-color);
  --sidebar-item-button-color: var(--text-color-default);
  --sidebar-item-button-hover-color: var(--red-color);
  --sidebar-item-tittle-color: var(--text-color-default);
  --sidebar-item-caption-color: var(--text-color-default);
  --sidebar-item-active-background-color: rgba(0, 0, 0, 0.1) !important;
  --sidebar-item-active-tittle-color: var(--text-color-default);
  --sidebar-item-active-caption-color: var(--text-color-default);
  --sidebar-item-active-border-left-color: var(--primary-color);
  --main-background-color: var(--background-color-default);
  --main-border-right-color: var(--border-color-default);
  --main-text-color: var(--text-color-default);
  --main-notify-border-bottom-color: var(--border-color-default);
  --main-notify-background-color: var(--main-background-color);
  --main-notify-text-color: var(--red-color);
  --footer-background-color: #cecece;
  --footer-text-color: var(--text-color-default);
  --footer-border-top-color: var(--border-color-default);
  --footer-border-right-color: var(--border-color-default);
  --footer-border-bottom-color: var(--border-color-default);
  --footer-border-left-color: var(--border-color-default);
  --footer-statusbar-primary-border-top-color: var(--border-color-default);
  --footer-logger-view-background-color: #fff;
  --footer-logger-view-controlbar-background-color: #f1f1f1;
  --footer-logger-view-button-hover-color: var(--red-color);
}

[data-theme-mode^="dark"],
[data-theme-mode] [data-theme-mode^="dark"] {
  --background-color-default: #2d3035;
  --text-color-default: #8a8d93;
  --border-color-default: #34373d;
  --header-background: var(--background-color-default);
  --header-text-color: var(--text-color-default);
  --header-border-bottom-color: var(--border-color-default);
  --header-title-distro-name-color: var(--primary-color);
  --header-title-app-name-color: var(--text-color-default);
  --header-controls-default-color: var(--text-color-default);
  --header-controls-minimize-hover-color: var(--blue-color);
  --header-controls-restore-hover-color: var(--green-color);
  --header-controls-maximize-hover-color: var(--green-color);
  --header-controls-close-hover-color: var(--red-color);
  --sidebar-border-right-color: var(--border-color-default);
  --sidebar-background-color: var(--background-color-default);
  --sidebar-text-color: var(--text-color-default);
  --sidebar-title-button-color: var(--text-color-default);
  --sidebar-title-button-hover-color: var(--primary-color);
  --sidebar-item-button-color: var(--text-color-default);
  --sidebar-item-button-hover-color: var(--red-color);
  --sidebar-item-tittle-color: var(--text-color-default);
  --sidebar-item-caption-color: var(--text-color-default);
  --sidebar-item-active-background-color: #34373d !important;
  --sidebar-item-active-tittle-color: var(--text-color-default);
  --sidebar-item-active-caption-color: var(--text-color-default);
  --sidebar-item-active-border-left-color: var(--primary-color);
  --main-background-color: var(--background-color-default);
  --main-text-color: var(--text-color-default);
  --main-notify-border-bottom-color: var(--border-color-default);
  --main-notify-background-color: var(--background-color-default);
  --main-notify-text-color: var(--red-color);
  --footer-background-color: var(--background-color-default);
  --footer-text-color: var(--text-color-default);
  --footer-border-top-color: var(--border-color-default);
  --footer-logger-view-background-color: #30353e;
  --footer-logger-view-button-hover-color: var(--red-color);
}

/*
      // Base
        // "foreground": "",
        "focusBorder": "#DEDEDE",
        // "contrastActiveBorder": "",
        // "contrastBorder": "",

        // "widget.shadow": "",
        "textLink.foreground": "#FAA41A",
        "textLink.activeForeground": "#FFCA40",
        "tab.activeForeground": "#FFCA40",
        "input.background": "#2B2928",
        "input.border": "#0008",
        "input.foreground": "#c45555",
        "input.placeholderForeground": "#DEDEDE88",
        "inputOption.activeBorder": "#FAA41A",
        // "inputValidation.infoBorder": "",
        // "inputValidation.infoBackground": "",
        // "inputValidation.warningBackground": "",
        // "inputValidation.warningBorder": "",
        // "inputValidation.errorBackground": "",
        // "inputValidation.errorBorder": "",

        "badge.background": "#CF3B00",
        "progressBar.background": "#1C8D9B",

        "dropdown.background": "#33302F",
        "dropdown.foreground": "#DEDEDE",
        "dropdown.border": "#63524b00",

        "button.background": "#2B2928",
        // "button.foreground": "",

        "selection.background": "#1C8D9B",

        "list.activeSelectionBackground": "#1C8D9B",
        "list.activeSelectionForeground": "#FFF",
        "list.focusBackground": "#1C8D9B",
        "list.focusForeground": "#DEDEDE",
        "list.hoverBackground": "#DEDEDE44",
        "list.inactiveSelectionBackground": "#1C8D9BAA",
        "list.highlightForeground": "#FAA41A",

        // "scrollbar.shadow": "",
        // "scrollbarSlider.activeBackground": "",
        // "scrollbarSlider.background": "",
        // "scrollbarSlider.hoverBackground": "",

        
        
        // Editor
        "editor.background": "#3F3B39",
        "editor.foreground": "#DEDEDE",
        "editorWidget.background": "#2B2928",
        "editorCursor.foreground": "#DEDEDE",
        "editorWhitespace.foreground": "#DEDEDE11",
        "editor.lineHighlightBackground": "#4C4845",
        "editor.selectionBackground": "#00616F",
        // "editorIndentGuide.background": "",
        "editorHoverWidget.background": "#2B2928",
        // "editorHoverWidget.border": "",
        "editorLineNumber.foreground": "#DEDEDE88",
        "editorLineNumber.activeForeground": "#DEDEDE",
        // "editorMarkerNavigation.background": "",
        // "editorMarkerNavigationError.background": "",
        // "editorMarkerNavigationWarning.background": "",
        // "editorLink.activeForeground": "",
        // "editor.findMatchBackground": "",
        // "editor.findMatchHighlightBackground": "",
        // "editor.findRangeHighlightBackground": "",
        // "editor.hoverHighlightBackground": "",
        // "editor.inactiveSelectionBackground": "",
        // "editor.lineHighlightBorder": "",
        // "editor.rangeHighlightBackground": "",
        // "editor.selectionHighlightBackground": "",
        // "editor.wordHighlightBackground": "",
        // "editor.wordHighlightStrongBackground": "",

        // Editor: Suggest Widget
        // "editorSuggestWidget.background": "",
        // "editorSuggestWidget.border": "",
        // "editorSuggestWidget.foreground": "",
        // "editorSuggestWidget.highlightForeground": "",
        // "editorSuggestWidget.selectedBackground": "",

        // Editor: Peek View
        "peekViewResult.background": "#2B2928",
        // "peekViewResult.lineForeground": "",
        // "peekViewResult.selectionBackground": "",
        // "peekViewResult.selectionForeground": "",
        "peekViewEditor.background": "#3F3B39",
        "peekViewTitle.background": "#393634",
        "peekView.border": "#faa41a",
        "peekViewEditor.matchHighlightBackground": "#7744AA40",
        // "peekViewResult.fileForeground": "",
        // "peekViewResult.matchHighlightBackground": "",
        // "peekViewTitleLabel.foreground": "",
        // "peekViewTitleDescription.foreground": "",

        // Editor: Diff
        // "diffEditor.insertedTextBackground": "",
        // "diffEditor.insertedTextBorder": "",
        // "diffEditor.removedTextBackground": "",
        // "diffEditor.removedTextBorder": "",

        // Workbench: Title
        "titleBar.activeBackground": "#3B3735",
        "titleBar.activeForeground": "#DEDEDE",
        "titleBar.inactiveBackground": "#484441",
        "titleBar.inactiveForeground": "#DEDEDEAA",

        // Workbench: Editors
        "editorGroupHeader.noTabsBackground": "#393634",
        "editorGroup.border": "#DEDEDE22",
        "editorGroup.background": "#FFFBF2",
        "editorGroup.dropBackground": "#bbb5b3AA",
        "editorGroupHeader.tabsBackground": "#393634",

        // Workbench: Tabs
        "tab.border": "#0000",
        "tab.inactiveForeground": "#DEDEDE",
        "tab.inactiveBackground": "#00000000",
        "tab.activeForeground": "#FFCA40",
        "tab.activeBackground": "#0000",
        "tab.activeBorder": "#FAA41A",

        // Workbench: Activity Bar
        "activityBar.background": "#4d4643",
        "activityBar.foreground": "#fdf6e3",
        "activityBar.dropBackground": "#d3d0d0",
        "activityBarBadge.background": "#faa41a",
		"activityBarBadge.foreground": "#4d4643",
		"activityBar.activeBorder":"#FAA41A",
		"activityBar.activeBackground":"#383534",

        // Workbench: Panel
        "panel.background": "#33302F",
        "panel.border": "#FFF1",
        // "panelTitle.activeBorder": "",
        "panelTitle.activeForeground": "#FFCA40",
        "panelTitle.activeBorder": "#FAA41A",
        // "panelTitle.inactiveForeground": "",

        // Workbench: Side Bar
        "sideBar.background": "#2B2928",
        "sideBar.foreground":"#DEDEDE",
        "sideBarTitle.foreground": "#DEDEDEAA",
        "sideBarSectionHeader.background": "#463E39",
        "sideBarSectionHeader.foreground": "#DEDEDE",

        // Workbench: Status Bar
        "statusBar.foreground": "#DEDEDE",
        "statusBar.background": "#2B2928",
        "statusBar.debuggingBackground": "#d3d0d0",
        "statusBar.noFolderBackground": "#403C3A",
        "statusBarItem.prominentBackground": "#403C3A",
        "statusBarItem.prominentHoverBackground": "#DEDEDE22",
        // "statusBarItem.activeBackground": "",
        // "statusBarItem.hoverBackground": "",

        // Workbench: Debug
        "debugToolBar.background": "#AC1800",
        "debugExceptionWidget.background": "#393634",
        "debugExceptionWidget.border": "#AB395B",

        // Workbench: Notifications
        "notification.background": "#bebebe",
        "notification.infoBackground": "#48b9c7",
        "notification.infoForeground": "#ffffff",
        "notification.buttonBackground": "#48b9c7",
        "notification.warningBackground": "#bebebe",
        "notification.foreground": "#383838",

        // Workbench: Quick Open
        "pickerGroup.border": "#2AA19899",
        "pickerGroup.foreground": "#2AA19899",

        // Extensions
        "extensionButton.prominentBackground": "#faa41a",
        "extensionButton.prominentHoverBackground": "#584c27aa",

        // Workbench: Terminal

        "terminal.ansiBlack": "#111",
        "terminal.ansiRed": "#F15D22",
        "terminal.ansiGreen": "#73C48F",
        "terminal.ansiYellow": "#faa41a",
        "terminal.ansiBlue": "#3F51B5",
        "terminal.ansiMagenta": "#9C27B0",
        "terminal.ansiCyan": "#48B9C7",
        "terminal.ansiWhite": "#DEDEDE",
        "terminal.ansiBrightBlack": "#574F4A",
        "terminal.ansiBrightRed": "#cb4b16",
        "terminal.ansiBrightGreen": "#574e4a",
        "terminal.ansiBrightYellow": "#657b83",
        "terminal.ansiBrightBlue": "#839496",
        "terminal.ansiBrightMagenta": "#6c71c4",
        "terminal.ansiBrightCyan": "#93a1a1",
        "terminal.ansiBrightWhite": "#d3d0d0"
*/
main.content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* Cores */
  background: var(--main-background-color);
  border-right: 1px solid var(--main-border-right-color);
  color: var(--main-text-color);
}

main.content .notify {
  grid-area: notify;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /* Dimensões */
  min-height: 50px;
  max-height: 50px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid var(--main-notify-border-bottom-color);
  /* Cores */
  background: var(--main-notify-background-color);
  color: var(--main-notify-text-color);
}

main.content .notify svg {
  max-width: 30px;
  min-width: 30px;
  fill: currentColor;
  margin-right: 15px;
  margin-left: 5px;
}

main.content .notify strong {
  margin-right: 5px;
  text-transform: uppercase;
}

main.content .content--subcontent {
  grid-area: content;
  display: flex;
  flex: 1 1 auto;
}

footer.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* Dimensões */
  /* Cores */
  background: var(--footer-background-color);
  color: var(--footer-text-color);
  border-top: 1px solid var(--footer-border-top-color);
  border-right: 1px solid var(--footer-border-right-color);
  border-left: 1px solid var(--footer-border-left-color);
  border-bottom: 1px solid var(--footer-border-bottom-color);
}

.status-bar {
  -webkit-box-flex: 1;
  -ms-flex: auto 0 0px;
  flex: auto 0 0;
  position: relative;
  z-index: 3;
}

.statusbar--primary {
  background: transparent !important;
  cursor: pointer;
  position: relative;
}

.logger-view {
  background: var(--footer-logger-view-background-color);
  /* max-height: 200px;
    height: 200px; */
  display: flex;
  flex-direction: column;
}

.logger-view .controlbar {
  background: var(--footer-logger-view-controlbar-background-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.logger-view .button {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  height: 100%;
  cursor: pointer;
}

.logger-view .button:hover {
  /* background: #f1f1f1; */
  color: var(--footer-logger-view-button-hover-color);
}

.logger-view .logs {
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
  /* overflow-x: hidden;
    overflow-y: auto; */
  max-height: var(--footer-logger-view-logs-max-height);
}

.logger-view .logger-message {
  font-size: var(--footer-logger-view-logger-message-font-size);
}

.logger-message {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  box-sizing: border-box;
  padding: 2px 4px;
}

.logger-message .message {
  flex: 100% 1 1;
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logger-message .dz-badge {
  max-width: var(--footer-logger-message-badge-max-width);
  min-width: var(--footer-logger-message-badge-min-width);
}

.logger-message .date {
  opacity: 0.5;
  flex: auto 0 0;
}

.ansi-black-fg {
  color: #2c3e50;
}

.ansi-black-bg {
  background: #2c3e50;
}

.ansi-bright-black-fg {
  color: #3a5169;
}

.ansi-bright-black-bg {
  background: #3a5169;
}

.ansi-red-fg {
  color: #e83030;
}

.ansi-red-bg {
  background: #e83030;
}

.ansi-bright-red-fg {
  color: #ea4545;
}

.ansi-bright-red-bg {
  background: #ea4545;
}

.ansi-green-fg {
  color: #42b983;
}

.ansi-green-bg {
  background: #42b983;
}

.ansi-bright-green-fg {
  color: #53c290;
}

.ansi-bright-green-bg {
  background: #53c290;
}

.ansi-yellow-fg {
  color: #ea6e00;
}

.ansi-yellow-bg {
  background: #ea6e00;
}

.ansi-bright-yellow-fg {
  color: #ff7b07;
}

.ansi-bright-yellow-bg {
  background: #ff7b07;
}

.ansi-blue-fg {
  color: #2196f3;
}

.ansi-blue-bg {
  background: #2196f3;
}

.ansi-bright-blue-fg {
  color: #37a1f4;
}

.ansi-bright-blue-bg {
  background: #37a1f4;
}

.ansi-magenta-fg {
  color: #6806c1;
}

.ansi-magenta-bg {
  background: #6806c1;
}

.ansi-bright-magenta-fg {
  color: #7807df;
}

.ansi-bright-magenta-bg {
  background: #7807df;
}

.ansi-cyan-fg {
  color: #03c2e6;
}

.ansi-cyan-bg {
  background: #03c2e6;
}

.ansi-bright-cyan-fg {
  color: #09d5fc;
}

.ansi-bright-cyan-bg {
  background: #09d5fc;
}

.ansi-white-fg {
  color: #fff;
}

.ansi-white-bg {
  background: #fff;
}

.ansi-bright-white-fg {
  color: #fff;
}

.ansi-bright-white-bg {
  background: #fff;
}

.vue-ui-dark-mode .ansi-black-fg {
  color: #4f6f7f;
}

.vue-ui-dark-mode .ansi-black-bg {
  background: #4f6f7f;
}

.vue-ui-dark-mode .ansi-bright-black-fg {
  color: #5b7f92;
}

.vue-ui-dark-mode .ansi-bright-black-bg {
  background: #5b7f92;
}

.vue-ui-dark-mode .ansi-magenta-fg {
  color: #c486fb;
}

.vue-ui-dark-mode .ansi-magenta-bg {
  background: #c486fb;
}

.vue-ui-dark-mode .ansi-bright-magenta-fg {
  color: #ca92fb;
}

.vue-ui-dark-mode .ansi-bright-magenta-bg {
  background: #ca92fb;
}

.vue-ui-dark-mode .ansi-white-fg {
  color: #e4f5ef;
}

.vue-ui-dark-mode .ansi-white-bg {
  background: #e4f5ef;
}

.vue-ui-dark-mode .ansi-bright-white-fg {
  color: #e7f6f1;
}

.vue-ui-dark-mode .ansi-bright-white-bg {
  background: #e7f6f1;
}

.about {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.about .app {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .app .app__logo-container {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.about .app .app__logo-container .app__logo {
  height: 130px;
  fill: currentColor;
}

.about .app .app__name {
  text-align: center;
}

.about .app .app__description {
  text-align: center;
}

.about .app .app__version {
  text-align: center;
  margin-bottom: 20px;
}

.about .app .app__copyright {
  text-align: center;
}

.about .credits-view {
  background: rgba(0, 0, 0, 0.1);
  margin: 10px;
  border: 1px solid var(--border-color-default);
  padding: 5px 10px;
  border-radius: 5px;
  max-height: 200px;
  /* height: 200px; */
  display: flex;
  flex-direction: column;
}

.about .credits-view a {
  outline: none;
  color: inherit;
  text-decoration: none;
  margin-left: 20px;
}

.about .credits-view a:hover {
  color: var(--primary-color);
}

.about .credits-view .creator {
  display: flex;
}

.about .credits-view .creator .creator__created {
  display: flex;
  width: 150px;
  justify-content: flex-end;
  margin-right: 15px;
}

.about .credits-view .creator .creator__name {
  display: flex;
  flex-direction: column;
}

.about .credits-view .translator {
  display: flex;
}

.about .credits-view .translator .translator__translated {
  display: flex;
  width: 150px;
  justify-content: flex-end;
  margin-right: 15px;
}

.about .credits-view .translator .translator__name {
  display: flex;
  flex-direction: column;
}
