@import "variables";  

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

body,
#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;

  display: grid;
  grid-template-areas:
    "header header header"
    "aside main main "
    "footer footer footer";
  grid-template-columns: 300px auto auto;
  grid-template-rows: var(--header-height) auto minmax(min-content, max-content);

  background: var(--background-color-default);
  color: var(--text-color-default);
  font-family: var(--font-family) !important;
}

@import "common";
@import "alert";
@import "override";
@import "titlebar";
@import "sidebar";
@import "main";
@import "statusbar";

// views
@import "home";