/* RESET */
:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

::-webkit-scrollbar-track {
  /*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background: transparent;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10rem;
}

.scrollabled {
  overflow-y: auto;
}
