.about {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.about .app {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .app .app__logo-container {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.about .app .app__logo-container .app__logo {
  height: 130px;
  fill: currentColor;
}

.about .app .app__name {
  text-align: center;
}

.about .app .app__description {
  text-align: center;
}

.about .app .app__version {
  text-align: center;
  margin-bottom: 20px;
}

.about .app .app__copyright {
  text-align: center;
}

.about .credits-view {
  background: rgba(0, 0, 0, 0.1);
  margin: 10px;
  border: 1px solid var(--border-color-default);
  padding: 5px 10px;
  border-radius: 5px;
  max-height: 200px;
  /* height: 200px; */
  display: flex;
  flex-direction: column;
}

.about .credits-view a {
  outline: none;
  color: inherit;
  text-decoration: none;
  margin-left: 20px;
}

.about .credits-view a:hover {
  color: var(--primary-color);
}

.about .credits-view .creator {
  display: flex;
}

.about .credits-view .creator .creator__created {
  display: flex;
  width: 150px;
  justify-content: flex-end;
  margin-right: 15px;
}

.about .credits-view .creator .creator__name {
  display: flex;
  flex-direction: column;
}

.about .credits-view .translator {
  display: flex;
}

.about .credits-view .translator .translator__translated {
  display: flex;
  width: 150px;
  justify-content: flex-end;
  margin-right: 15px;
}

.about .credits-view .translator .translator__name {
  display: flex;
  flex-direction: column;
}
