.about {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    .app {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .app__logo-container {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
        .app__logo {
          height: 130px;
          fill: currentColor;
        }
      }
      .app__name {
        text-align: center;
      }
      .app__description {
        text-align: center;
      }
      .app__version {
        text-align: center;
        margin-bottom: 20px;
      }
      .app__copyright {
        text-align: center;
      }
    }
  
    .credits-view {
      background: rgba(0, 0, 0, 0.1);
      margin: 10px;
      border: 1px solid var(--border-color-default);
      padding: 5px 10px;
      border-radius: 5px;
      max-height: 200px;
      /* height: 200px; */
      display: flex;
      flex-direction: column;
  
      a {
        outline: none;
        color: inherit;
        text-decoration: none;
        margin-left: 20px;
        &:hover {
          color: var(--primary-color);
        }
      }
  
      .creator {
        display: flex;
        .creator__created {
          display: flex;
          width: 150px;
          justify-content: flex-end;
          margin-right: 15px;
        }
        .creator__name {
          display: flex;
          flex-direction: column;
        }
      }
  
      .translator {
        display: flex;
        .translator__translated {
          display: flex;
          width: 150px;
          justify-content: flex-end;
          margin-right: 15px;
        }
        .translator__name {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }