@import "variables";

main.content {
  grid-area: main;
  // display: grid;
  // grid-template-areas:
  //   "notify"
  //   "content";
  // grid-template-columns: auto;
  // grid-template-rows: 50px auto;

  // height: 100%;

  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  /* Cores */
  background: var(--main-background-color);
  border-right: 1px solid var(--main-border-right-color);
  color: var(--main-text-color);

  .notify {
    grid-area: notify;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    /* Dimensões */
    min-height: 50px;
    max-height: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    border-bottom: 1px solid var(--main-notify-border-bottom-color);
    // border-right: 1px solid var(--main-notify-border-right-color);

    /* Cores */
    background: var(--main-notify-background-color);
    color: var(--main-notify-text-color);

    svg {
      max-width: 30px;
      min-width: 30px;
      fill: currentColor;
      margin-right: 15px;
      margin-left: 5px;
    }

    strong {
      margin-right: 5px;
      text-transform: uppercase;
    }
  }

  .content--subcontent {
    grid-area: content;
    // height: 100%;
    display: flex;
    flex: 1 1 auto;
  }
}