@charset "UTF-8";
:root {
  --dark-color: #22252a;
  --red-color: #db6574;
  --green-color: #429244;
  --blue-color: #37cfdc;
  --orange-color: #ff7b07;
  --header-height: 50px;
  --header-title-font-size: 15px;
  --footer-logger-view-logs-max-height: 220px;
  --footer-logger-view-logger-message-font-size: 12px;
  --footer-logger-message-badge-max-width: 75px;
  --footer-logger-message-badge-min-width: 75px;
}

[data-theme^="dark"],
[data-theme] [data-theme^="dark"] {
  --primary-color: var(--red-color);
  --red-color: var(--red-color);
  --success-color: var(--green-color);
  --background-color-default: #2d3035;
  --text-color-default: #8a8d93;
  --border-color-default: #34373d;
  --header-background: var(--background-color-default);
  --header-text-color: var(--text-color-default);
  --header-border-bottom-color: var(--border-color-default);
  --header-title-distro-color: var(--primary-color);
  --header-title-app-name-color: var(--text-color-default);
  --header-controls-default-color: var(--text-color-default);
  --header-controls-minimize-hover-color: var(--blue-color);
  --header-controls-restore-hover-color: var(--green-color);
  --header-controls-maximize-hover-color: var(--green-color);
  --header-controls-close-hover-color: var(--red-color);
  --sidebar-border-right-color: var(--border-color-default);
  --sidebar-background-color: var(--background-color-default);
  --sidebar-text-color: var(--text-color-default);
  --sidebar-title-button-color: var(--text-color-default);
  --sidebar-title-button-hover-color: var(--primary-color);
  --sidebar-item-button-color: var(--text-color-default);
  --sidebar-item-button-hover-color: var(--red-color);
  --sidebar-item-tittle-color: var(--text-color-default);
  --sidebar-item-caption-color: var(--text-color-default);
  --sidebar-item-active-background-color: #34373d !important;
  --sidebar-item-active-tittle-color: var(--text-color-default);
  --sidebar-item-active-caption-color: var(--text-color-default);
  --sidebar-item-active-border-left-color: var(--primary-color);
  --main-background-color: var(--background-color-default);
  --main-text-color: var(--text-color-default);
  --main-notify-border-bottom-color: var(--border-color-default);
  --main-notify-background-color: var(--background-color-default);
  --main-notify-text-color: var(--red-color);
  --footer-background-color: var(--background-color-default);
  --footer-text-color: var(--text-color-default);
  --footer-border-top-color: var(--border-color-default);
  --footer-logger-view-background-color: #30353e;
  --footer-logger-view-button-hover-color: var(--red-color);
}

[data-theme^="light"],
[data-theme] [data-theme^="light"] {
  --primary-color: var(--orange-color);
  --red-color: var(--red-color);
  --success-color: var(--green-color);
  --background-color-default: #DEDEDE;
  --text-color-default: #414141;
  --border-color-default: #bbbbbb;
  --header-background: #333333;
  --header-text-color: #ccc;
  --header-border-bottom-color: var(--border-color-default);
  --header-title-distro-color: var(--primary-color);
  --header-title-app-name-color: var(--header-text-color);
  --header-controls-default-color: var(--header-text-color);
  --header-controls-minimize-hover-color: var(--blue-color);
  --header-controls-restore-hover-color: var(--green-color);
  --header-controls-maximize-hover-color: var(--green-color);
  --header-controls-close-hover-color: var(--red-color);
  --sidebar-border-left-color: var(--border-color-default);
  --sidebar-border-right-color: var(--border-color-default);
  --sidebar-background-color: #cccccc;
  --sidebar-text-color: var(--text-color-default);
  --sidebar-title-button-color: var(--text-color-default);
  --sidebar-title-button-hover-color: var(--primary-color);
  --sidebar-item-button-color: var(--text-color-default);
  --sidebar-item-button-hover-color: var(--red-color);
  --sidebar-item-tittle-color: var(--text-color-default);
  --sidebar-item-caption-color: var(--text-color-default);
  --sidebar-item-active-background-color: rgba(0, 0, 0, 0.1) !important;
  --sidebar-item-active-tittle-color: var(--text-color-default);
  --sidebar-item-active-caption-color: var(--text-color-default);
  --sidebar-item-active-border-left-color: var(--primary-color);
  --main-background-color: var(--background-color-default);
  --main-text-color: var(--text-color-default);
  --main-notify-border-bottom-color: var(--border-color-default);
  --main-notify-background-color: var(--background-color-default);
  --main-notify-text-color: var(--red-color);
  --footer-background-color: var(--background-color-default);
  --footer-text-color: var(--text-color-default);
  --footer-border-top-color: var(--border-color-default);
  --footer-border-right-color: var(--border-color-default);
  --footer-border-bottom-color: var(--border-color-default);
  --footer-border-left-color: var(--border-color-default);
  --footer-statusbar-primary-border-top-color: var(--border-color-default);
  --footer-logger-view-background-color: #fff;
  --footer-logger-view-controlbar-background-color: #f1f1f1;
  --footer-logger-view-button-hover-color: var(--red-color);
}

/*
      // Base
        // "foreground": "",
        "focusBorder": "#DEDEDE",
        // "contrastActiveBorder": "",
        // "contrastBorder": "",

        // "widget.shadow": "",
        "textLink.foreground": "#FAA41A",
        "textLink.activeForeground": "#FFCA40",
        "input.background": "#2B2928",
        "input.border": "#0008",
        "input.foreground": "#c45555",
        "input.placeholderForeground": "#DEDEDE88",
        "inputOption.activeBorder": "#FAA41A",
        // "inputValidation.infoBorder": "",
        // "inputValidation.infoBackground": "",
        // "inputValidation.warningBackground": "",
        // "inputValidation.warningBorder": "",
        // "inputValidation.errorBackground": "",
        // "inputValidation.errorBorder": "",

        "badge.background": "#CF3B00",
        "progressBar.background": "#1C8D9B",

        "dropdown.background": "#33302F",
        "dropdown.foreground": "#DEDEDE",
        "dropdown.border": "#63524b00",

        "button.background": "#2B2928",
        // "button.foreground": "",

        "selection.background": "#1C8D9B",

        "list.activeSelectionBackground": "#1C8D9B",
        "list.activeSelectionForeground": "#FFF",
        "list.focusBackground": "#1C8D9B",
        "list.focusForeground": "#DEDEDE",
        "list.hoverBackground": "#DEDEDE44",
        "list.inactiveSelectionBackground": "#1C8D9BAA",
        "list.highlightForeground": "#FAA41A",

        // "scrollbar.shadow": "",
        // "scrollbarSlider.activeBackground": "",
        // "scrollbarSlider.background": "",
        // "scrollbarSlider.hoverBackground": "",

        
        
        // Editor
        "editor.background": "#3F3B39",
        "editor.foreground": "#DEDEDE",
        "editorWidget.background": "#2B2928",
        "editorCursor.foreground": "#DEDEDE",
        "editorWhitespace.foreground": "#DEDEDE11",
        "editor.lineHighlightBackground": "#4C4845",
        "editor.selectionBackground": "#00616F",
        // "editorIndentGuide.background": "",
        "editorHoverWidget.background": "#2B2928",
        // "editorHoverWidget.border": "",
        "editorLineNumber.foreground": "#DEDEDE88",
        "editorLineNumber.activeForeground": "#DEDEDE",
        // "editorMarkerNavigation.background": "",
        // "editorMarkerNavigationError.background": "",
        // "editorMarkerNavigationWarning.background": "",
        // "editorLink.activeForeground": "",
        // "editor.findMatchBackground": "",
        // "editor.findMatchHighlightBackground": "",
        // "editor.findRangeHighlightBackground": "",
        // "editor.hoverHighlightBackground": "",
        // "editor.inactiveSelectionBackground": "",
        // "editor.lineHighlightBorder": "",
        // "editor.rangeHighlightBackground": "",
        // "editor.selectionHighlightBackground": "",
        // "editor.wordHighlightBackground": "",
        // "editor.wordHighlightStrongBackground": "",

        // Editor: Suggest Widget
        // "editorSuggestWidget.background": "",
        // "editorSuggestWidget.border": "",
        // "editorSuggestWidget.foreground": "",
        // "editorSuggestWidget.highlightForeground": "",
        // "editorSuggestWidget.selectedBackground": "",

        // Editor: Peek View
        "peekViewResult.background": "#2B2928",
        // "peekViewResult.lineForeground": "",
        // "peekViewResult.selectionBackground": "",
        // "peekViewResult.selectionForeground": "",
        "peekViewEditor.background": "#3F3B39",
        "peekViewTitle.background": "#393634",
        "peekView.border": "#faa41a",
        "peekViewEditor.matchHighlightBackground": "#7744AA40",
        // "peekViewResult.fileForeground": "",
        // "peekViewResult.matchHighlightBackground": "",
        // "peekViewTitleLabel.foreground": "",
        // "peekViewTitleDescription.foreground": "",

        // Editor: Diff
        // "diffEditor.insertedTextBackground": "",
        // "diffEditor.insertedTextBorder": "",
        // "diffEditor.removedTextBackground": "",
        // "diffEditor.removedTextBorder": "",

        // Workbench: Title
        "titleBar.activeBackground": "#3B3735",
        "titleBar.activeForeground": "#DEDEDE",
        "titleBar.inactiveBackground": "#484441",
        "titleBar.inactiveForeground": "#DEDEDEAA",

        // Workbench: Editors
        "editorGroupHeader.noTabsBackground": "#393634",
        "editorGroup.border": "#DEDEDE22",
        "editorGroup.background": "#FFFBF2",
        "editorGroup.dropBackground": "#bbb5b3AA",
        "editorGroupHeader.tabsBackground": "#393634",

        // Workbench: Tabs
        "tab.border": "#0000",
        "tab.inactiveForeground": "#DEDEDE",
        "tab.inactiveBackground": "#00000000",
        "tab.activeForeground": "#FFCA40",
        "tab.activeBackground": "#0000",
        "tab.activeBorder": "#FAA41A",

        // Workbench: Activity Bar
        "activityBar.background": "#4d4643",
        "activityBar.foreground": "#fdf6e3",
        "activityBar.dropBackground": "#d3d0d0",
        "activityBarBadge.background": "#faa41a",
		"activityBarBadge.foreground": "#4d4643",
		"activityBar.activeBorder":"#FAA41A",
		"activityBar.activeBackground":"#383534",

        // Workbench: Panel
        "panel.background": "#33302F",
        "panel.border": "#FFF1",
        // "panelTitle.activeBorder": "",
        "panelTitle.activeForeground": "#FFCA40",
        "panelTitle.activeBorder": "#FAA41A",
        // "panelTitle.inactiveForeground": "",

        // Workbench: Side Bar
        "sideBar.background": "#2B2928",
        "sideBar.foreground":"#DEDEDE",
        "sideBarTitle.foreground": "#DEDEDEAA",
        "sideBarSectionHeader.background": "#463E39",
        "sideBarSectionHeader.foreground": "#DEDEDE",

        // Workbench: Status Bar
        "statusBar.foreground": "#DEDEDE",
        "statusBar.background": "#2B2928",
        "statusBar.debuggingBackground": "#d3d0d0",
        "statusBar.noFolderBackground": "#403C3A",
        "statusBarItem.prominentBackground": "#403C3A",
        "statusBarItem.prominentHoverBackground": "#DEDEDE22",
        // "statusBarItem.activeBackground": "",
        // "statusBarItem.hoverBackground": "",

        // Workbench: Debug
        "debugToolBar.background": "#AC1800",
        "debugExceptionWidget.background": "#393634",
        "debugExceptionWidget.border": "#AB395B",

        // Workbench: Notifications
        "notification.background": "#bebebe",
        "notification.infoBackground": "#48b9c7",
        "notification.infoForeground": "#ffffff",
        "notification.buttonBackground": "#48b9c7",
        "notification.warningBackground": "#bebebe",
        "notification.foreground": "#383838",

        // Workbench: Quick Open
        "pickerGroup.border": "#2AA19899",
        "pickerGroup.foreground": "#2AA19899",

        // Extensions
        "extensionButton.prominentBackground": "#faa41a",
        "extensionButton.prominentHoverBackground": "#584c27aa",

        // Workbench: Terminal

        "terminal.ansiBlack": "#111",
        "terminal.ansiRed": "#F15D22",
        "terminal.ansiGreen": "#73C48F",
        "terminal.ansiYellow": "#faa41a",
        "terminal.ansiBlue": "#3F51B5",
        "terminal.ansiMagenta": "#9C27B0",
        "terminal.ansiCyan": "#48B9C7",
        "terminal.ansiWhite": "#DEDEDE",
        "terminal.ansiBrightBlack": "#574F4A",
        "terminal.ansiBrightRed": "#cb4b16",
        "terminal.ansiBrightGreen": "#574e4a",
        "terminal.ansiBrightYellow": "#657b83",
        "terminal.ansiBrightBlue": "#839496",
        "terminal.ansiBrightMagenta": "#6c71c4",
        "terminal.ansiBrightCyan": "#93a1a1",
        "terminal.ansiBrightWhite": "#d3d0d0"
*/
main.content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* Cores */
  background: var(--main-background-color);
  border-right: 1px solid var(--main-border-right-color);
  color: var(--main-text-color);
}

main.content .notify {
  grid-area: notify;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /* Dimensões */
  min-height: 50px;
  max-height: 50px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid var(--main-notify-border-bottom-color);
  /* Cores */
  background: var(--main-notify-background-color);
  color: var(--main-notify-text-color);
}

main.content .notify svg {
  max-width: 30px;
  min-width: 30px;
  fill: currentColor;
  margin-right: 15px;
  margin-left: 5px;
}

main.content .notify strong {
  margin-right: 5px;
  text-transform: uppercase;
}

main.content .content--subcontent {
  grid-area: content;
  display: flex;
  flex: 1 1 auto;
}
