.q-field__control {
    color: var(--primary-color) !important;
  }
  
  .q-field .q-field__control:hover::before {
    border-color: var(--primary-color) !important;
  }
  
  .q-field--focused .q-field__control::before {
    border-color: var(--primary-color) !important;
  }
  
  .q-field .q-field__label {
    color: var(--text-color-default) !important;
  }
  .q-field--outlined .q-field__control::before {
    border: 1px solid var(--border-color-default) !important;
  }
  
  .q-field__input,
  .q-field__native {
    color: var(--text-color-default) !important;
    font-weight: 700 !important;
  }
  
  /* q-select options*/
.q-menu.q-position-engine.scroll {
    background: var(--background-color-default) !important;
}


.q-field__bottom {
  padding: 2px 12px 0;
}

.q-chip {
  background: rgba(0,0,0,0.2);
  color: var(--text-color-default);

  border-radius: 5px;
  padding: 0 0.8em;
  height: 1.6em;
  .q-chip__content {
    margin-right: 5px;
  }
  .q-chip__icon:hover {
    color: var(--red-color);
  }
}

.q-virtual-scroll__content {
  background: var(--background-color-default) !important;
  color: var(--text-color-default) !important;
  // border: 1px solid var(--border-color-default) !important;
}

.q-virtual-scroll__content .q-item--active,
.q-item.q-router-link--active {
  color: var(--primary-color);
}

.q-field__append {
  color: var(--text-color-default) !important;
}

.q-toggle__inner {
  color: var(--primary-color) !important;
}


// button // badge
.text-primary {
  color: var(--primary-color) !important;
}
.text-negative {
  color: var(--red-color) !important;
}

.text-red {
  color: var(--red-color) !important;
}
.text-green {
  color: var(--green-color) !important;
}
.text-blue {
  color: var(--blue-color) !important;
}
.text-orange {
  color: var(--orange-color) !important;
}
.text-yellow {
  color: var(--yellow-color) !important;
}
.text-dark {
  color: var(--dark-color) !important;
}
.text-white {
  color: #fff;
}

.bg-primary {
  background: var(--primary-color) !important;
}
.bg-negative {
  background: var(--red-color) !important;
}

.bg-red {
  background: var(--red-color) !important;
}
.bg-green {
  background: var(--green-color) !important;
}
.bg-blue {
  background: var(--blue-color) !important;
}
.bg-orange {
  background: var(--orange-color) !important;
}
.bg-yellow {
  background: var(--yellow-color) !important;
}
.bg-dark {
  background: var(--dark-color) !important;
}
.bg-white {
  background: #fff;
}




.q-field--error .q-field__bottom {
  color: var(--red-color) !important;
}

.loader-modal {
    background: rgba(0, 0, 0, 0.3) !important;
    .loader {
        background: var(--background-color-default) !important;
    }
}