aside.sidebar {
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  border-right: 1px solid var(--sidebar-border-right-color);
  border-left: 1px solid var(--sidebar-border-left-color);

  /* Cores */
  background: var(--sidebar-background-color);
  color: var(--sidebar-text-color);

  .sidebar--title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    max-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    strong {
      flex: 1 1 auto;
      text-align: center;
      font-size: 1.1em;
    }
    .sidebar--title--button {
      -webkit-app-region: no-drag;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 35px;
      height: 35px;
      padding: 0;
      margin: 0;
      cursor: pointer;
      overflow: hidden;
      border: none;
      box-shadow: none;
      border-radius: 0;
      background-color: transparent;
      transition: background-color 0.25s ease;
      text-align: center;
      color: var(--sidebar-title-button-color);
      svg {
        fill: currentColor;
        height: 20px;
      }
      &:hover {
        color: var(--sidebar-title-button-hover-color);
      }
    }
  }
  .sidebar--item {
    .sidebar--item--button {
      visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 35px;
      height: 35px;
      padding: 0;
      margin: 0;
      cursor: pointer;
      overflow: hidden;
      border: none;
      box-shadow: none;
      border-radius: 0;
      background-color: transparent;
      transition: background-color 0.25s ease;
      text-align: center;
      color: var(--sidebar-item-button-color);
      svg {
        fill: currentColor;
        height: 20px;
      }
      &:hover {
        color: var(--sidebar-item-button-hover-color);
      }
    }
    &:hover .sidebar--item--button {
      visibility: visible;
    }

    .sidebar--item--tittle {
      color: var(--sidebar-item-tittle-color);
      font-weight: bold;
    }
    .sidebar--item--caption {
      color: var(--sidebar-item-caption-color);
      font-weight: 300;
    }

    &.sidebar--item--active {
      background: var(--sidebar-item-active-background-color);
      color: var(--sidebar-item-active-tittle-color);
      .sidebar--item--tittle {
        color: var(--sidebar-item-active-tittle-color);
        font-weight: bold;
      }
      .sidebar--item--caption {
        color: var(--sidebar-item-active-caption-color);
        font-weight: 300;
      }
    }
    &.sidebar--item--active::before {
      background: var(--sidebar-item-active-border-left-color);
      content: "";
      width: 4px;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
    }
  }
}