footer.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  /* Dimensões */
  // padding-top: 10px;
  // padding-right: 10px;
  // padding-bottom: 10px;
  // padding-left: 10px;

  /* Cores */
  background: var(--footer-background-color);
  color: var(--footer-text-color);

  border-top: 1px solid var(--footer-border-top-color);
  border-right: 1px solid var(--footer-border-right-color);
  border-left: 1px solid var(--footer-border-left-color);
  border-bottom: 1px solid var(--footer-border-bottom-color);
}




  
.status-bar {
    -webkit-box-flex: 1;
    -ms-flex: auto 0 0px;
    flex: auto 0 0;
    position: relative;
    z-index: 3;
}

.statusbar--primary {
  background: transparent !important; 
  cursor: pointer; 
  position: relative;
  // border-top: 1px solid var(--footer-statusbar-primary-border-top-color);
}
  .logger-view {
    background: var(--footer-logger-view-background-color);
    /* max-height: 200px;
    height: 200px; */
    display: flex;
    flex-direction: column;

    .controlbar{
      background: var(--footer-logger-view-controlbar-background-color);
      border-bottom: 1px solid rgba(0,0,0,.12);
    }
    .button {
      background: transparent;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 8px;
      height: 100%;
      cursor: pointer;
    }
    
    .button:hover {
      /* background: #f1f1f1; */
      color: var(--footer-logger-view-button-hover-color);
    }
  }
  .logger-view .logs {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    /* overflow-x: hidden;
    overflow-y: auto; */
    max-height: var(--footer-logger-view-logs-max-height);
  }
  .logger-view .logger-message {
    font-size: var(--footer-logger-view-logger-message-font-size);
  }
  .logger-message {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    // font-family: Roboto Mono, monospace;
    box-sizing: border-box;
    padding: 2px 4px;
  }
  .logger-message .message {
    flex: 100% 1 1;
    width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .logger-message .dz-badge {
    max-width: var(--footer-logger-message-badge-max-width);
    min-width: var(--footer-logger-message-badge-min-width);
  }
  
  .logger-message .date {
    opacity: 0.5;
    flex: auto 0 0;
  }
  
  .ansi-black-fg {
    color: #2c3e50;
  }
  .ansi-black-bg {
    background: #2c3e50;
  }
  .ansi-bright-black-fg {
    color: #3a5169;
  }
  .ansi-bright-black-bg {
    background: #3a5169;
  }
  .ansi-red-fg {
    color: #e83030;
  }
  .ansi-red-bg {
    background: #e83030;
  }
  .ansi-bright-red-fg {
    color: #ea4545;
  }
  .ansi-bright-red-bg {
    background: #ea4545;
  }
  .ansi-green-fg {
    color: #42b983;
  }
  .ansi-green-bg {
    background: #42b983;
  }
  .ansi-bright-green-fg {
    color: #53c290;
  }
  .ansi-bright-green-bg {
    background: #53c290;
  }
  .ansi-yellow-fg {
    color: #ea6e00;
  }
  .ansi-yellow-bg {
    background: #ea6e00;
  }
  .ansi-bright-yellow-fg {
    color: #ff7b07;
  }
  .ansi-bright-yellow-bg {
    background: #ff7b07;
  }
  .ansi-blue-fg {
    color: #2196f3;
  }
  .ansi-blue-bg {
    background: #2196f3;
  }
  .ansi-bright-blue-fg {
    color: #37a1f4;
  }
  .ansi-bright-blue-bg {
    background: #37a1f4;
  }
  .ansi-magenta-fg {
    color: #6806c1;
  }
  .ansi-magenta-bg {
    background: #6806c1;
  }
  .ansi-bright-magenta-fg {
    color: #7807df;
  }
  .ansi-bright-magenta-bg {
    background: #7807df;
  }
  .ansi-cyan-fg {
    color: #03c2e6;
  }
  .ansi-cyan-bg {
    background: #03c2e6;
  }
  .ansi-bright-cyan-fg {
    color: #09d5fc;
  }
  .ansi-bright-cyan-bg {
    background: #09d5fc;
  }
  .ansi-white-fg {
    color: #fff;
  }
  .ansi-white-bg {
    background: #fff;
  }
  .ansi-bright-white-fg {
    color: #fff;
  }
  .ansi-bright-white-bg {
    background: #fff;
  }
  .vue-ui-dark-mode .ansi-black-fg {
    color: #4f6f7f;
  }
  .vue-ui-dark-mode .ansi-black-bg {
    background: #4f6f7f;
  }
  .vue-ui-dark-mode .ansi-bright-black-fg {
    color: #5b7f92;
  }
  .vue-ui-dark-mode .ansi-bright-black-bg {
    background: #5b7f92;
  }
  .vue-ui-dark-mode .ansi-magenta-fg {
    color: #c486fb;
  }
  .vue-ui-dark-mode .ansi-magenta-bg {
    background: #c486fb;
  }
  .vue-ui-dark-mode .ansi-bright-magenta-fg {
    color: #ca92fb;
  }
  .vue-ui-dark-mode .ansi-bright-magenta-bg {
    background: #ca92fb;
  }
  .vue-ui-dark-mode .ansi-white-fg {
    color: #e4f5ef;
  }
  .vue-ui-dark-mode .ansi-white-bg {
    background: #e4f5ef;
  }
  .vue-ui-dark-mode .ansi-bright-white-fg {
    color: #e7f6f1;
  }
  .vue-ui-dark-mode .ansi-bright-white-bg {
    background: #e7f6f1;
  }