// @import "variables";

header.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;

  grid-area: header;
  display: flex;
  flex-wrap: nowrap;

  /* Dimensões */
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  /* Cores */
  background: var(--header-background);
  color: var(--header-text-color);

  border-bottom: 1px solid var(--header-border-bottom-color);

  .menu {
    -webkit-app-region: no-drag;
    position: relative;
    display: inline-block;

    cursor: pointer;
    height: 100%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    background-color: transparent!important;

    .menu__button {
      -webkit-app-region: no-drag;
      height: 100%;
      svg {
        height: 20px;
      }
    }

    &:hover {
      .menu__button {
        color: var(--primary-color);
        // background: var(--dark-color);
      }
    }

    .menu__container {
      -webkit-app-region: no-drag;
      display: none;
      position: absolute;
      z-index: 1000;
      left: -5px;
      cursor: default;
    }
    
    .menu__shadow{
      z-index: 1;
      display: block;
      position: relative;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      &:after {
        z-index: 10;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -0.5em;
        top: 0;
        left: 20px;
        box-sizing: border-box;
        
        border: 8px solid black;
        border-color: var(--background-color-default) var(--background-color-default) transparent transparent ;
        
        transform-origin: 0 0;
        transform: rotate(-45deg);
        
        box-shadow: 0 0 10px rgba(0,0,0,.4);
      }
    }
    .menu__content {
      z-index: 100;
      -webkit-app-region: no-drag;
      color: #3a3a3a;
      background-color: var(--background-color-default);
      display: flex;
      flex-direction: column;
      position: relative;
      min-width: 200px;
      margin-top: 15px;
      padding: 15px;

      border-radius: 5px;
      color: var(--text-color-default);
      background: var(--background-color-default);

      strong {
        margin-bottom: 10px;
      } 
    }

    &:hover {
      .menu__container {
        display: block;
      }
    }
  }

  .title {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--header-title-font-size);
    .title__distro-name {
      color: var(--header-title-distro-name-color);
      margin-left: 10px;
      margin-right: 10px;
    }
    .title__app-name {
      color: var(--header-title-app-name-color);
    }
  }

  .controls {
    -webkit-user-select: none;
    -webkit-app-region: drag;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    svg {
      height: 15px;
    }
    .controls__minimize:hover {
      color: var(--header-controls-minimize-hover-color);
    }
    .controls__restore:hover {
      color: var(--header-controls-restore-hover-color);
    }
    .controls__maximize:hover {
      color: var(--header-controls-maximize-hover-color);
    }
    .controls__close:hover {
      color: var(--header-controls-close-hover-color);
    }
  }

  .control {
    -webkit-app-region: no-drag;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    transition: background-color 0.25s ease;
    text-align: center;
    color: var(--header-control-color);
    svg {
      fill: currentColor;
    }
  }
}