:root {
    // base
    --dark-color: #22252a;
    --red-color: #db6574; // #c45555;
    --red-dark-color:#ea4545; // #AC1800;
    --green-color: #429244; // #53c290; // #42b983; - #73C48F;
    // --green-dark-color: ;
    --blue-color: #37a1f4; // #37cfdc - #03c2e6 - #09d5fc - #48B9C7;
    --blue-dark-color: #3F51B5;
    --orange-color: #ff7b07;
    --orange-dark-color:#F15D22; // #cb4b16; // #CF3B00;
    --yellow-color: #FFCA40; // #f2c037;
    --yellow-dark-color: #FAA41A;
    --purple-color: #9C27B0; // #c486fb - #ca92fb;
    --purple-dark-color: #7744AA; // #6806c1 - #7807df;
    --pink-dark-color: #AB395B;
    --cyan-color: #2AA198;


    
    // --font-family: "Muli";
    --font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;

    // header/titlebar
    --header-height: 50px;
    // header/titlebar: title
    --header-title-font-size: 15px;

    // footer/statusbar
    --footer-logger-view-logs-max-height: 220px;
    --footer-logger-view-logger-message-font-size: 12px;
    --footer-logger-message-badge-max-width: 75px;
    --footer-logger-message-badge-min-width: 75px;

    /* DZ-DIALOG */
    // .dz-dialog__window
    --dialog-window-shadow-color: rgba(0, 0, 0, 0.4);
    --dialog-window-border-radius: 4px;
    --dialog-window-color: var(--text-color-default);
    --dialog-window-background: var(--background-color-default);
    --dialog-window-min-width: 250px;
    --dialog-window-max-width: 600px;
    
    /* HEADER */
    // .dz-dialog__header {
    --dialog-header-height: 50px;
    --dialog-header-background: rgba(0, 0, 0, 0.1);
    // .dz-dialog__title {
    --dialog-title-font-size: 20px;
    --dialog-title-text-align: left;
    // .dz-dialog__btn-close {
    --dialog-btn-close-width: 12px;
    --dialog-btn-close-height: 12px;
    --dialog-btn-close-padding: 0;
    --dialog-btn-close-margin: 0 15px;
    --dialog-btn-close-border: none;
    --dialog-btn-close-box-shadow: none;
    --dialog-btn-close-border-radius: 0;
    --dialog-btn-close-background: transparent;
    --dialog-btn-close-color: var(--text-color-default);
    --dialog-btn-close-hover-color: var(--red-color);
    --dialog-btn-close-icon-width: 12px;
    --dialog-btn-close-icon-height: 12px;
    
    /* BODY */
    // .dz-dialog__body
    --dialog-body-min-height: 80px;
    --dialog-body-font-size: 16px;
    // .dz-dialog__type-icon
    --dialog-body-icon-padding: 15px 30px;
    --dialog-body-icon-color: var(--text-color-default);
    --dialog__body-icon-info-color: var(--blue-color);
    --dialog__body-icon-question-color: var(--yellow-color);
    --dialog__body-icon-alert-color: var(--red-color);
    --dialog__body-icon-error-color: var(--red-color);
    --dialog__body-icon-success-color: var(--green-color);
    --dialog-body-icon-svg-height: 50px;
    --dialog-body-icon-svg-width: 50px;
    
    /* FOOTER */
    // .dz-dialog__footer
    --dialog-footer-height: 40px;
    --dialog-footer-padding: 0px;
    // .dz-dialog--type-info .dz-dialog__btn-confirm
    --dialog-btn-confirm-info-color: var(--blue-color);
    --dialog-btn-confirm-info-background-color: transparent;
    --dialog-btn-confirm-info-hover-color: var(--blue-color);
    --dialog-btn-confirm-info-hover-background-color: transparent;
    --dialog-btn-confirm-info-before-hover-color: var(--blue-color);
    --dialog-btn-confirm-info-before-hover-background-color: currentColor !important;
    --dialog-btn-confirm-info-before-opacity: 0.3;
    // .dz-dialog--type-question .dz-dialog__btn-confirm
    --dialog-btn-confirm-question-color: var(--yellow-color);
    --dialog-btn-confirm-question-background-color: transparent;
    --dialog-btn-confirm-question-hover-color: var(--yellow-color);
    --dialog-btn-confirm-question-hover-background-color: transparent;
    --dialog-btn-confirm-question-before-hover-color: var(--yellow-color);
    --dialog-btn-confirm-question-before-hover-background-color: currentColor !important;
    --dialog-btn-confirm-question-before-opacity: 0.3;
    // .dz-dialog--type-error .dz-dialog__btn-confirm
    --dialog-btn-confirm-error-color: var(--red-color);
    --dialog-btn-confirm-error-background-color: transparent;
    --dialog-btn-confirm-error-hover-color: var(--red-color);
    --dialog-btn-confirm-error-hover-background-color: transparent;
    --dialog-btn-confirm-error-before-hover-color: var(--red-color);
    --dialog-btn-confirm-error-before-hover-background-color: currentColor !important;
    --dialog-btn-confirm-error-before-opacity: 0.3;
    // .dz-dialog--type-alert .dz-dialog__btn-confirm
    --dialog-btn-confirm-alert-color: var(--red-color);
    --dialog-btn-confirm-alert-background-color: transparent;
    --dialog-btn-confirm-alert-hover-color: var(--red-color);
    --dialog-btn-confirm-alert-hover-background-color: transparent;
    --dialog-btn-confirm-alert-before-hover-color: var(--red-color);
    --dialog-btn-confirm-alert-before-hover-background-color: currentColor !important;
    --dialog-btn-confirm-alert-before-opacity: 0.3;
    // .dz-dialog--type-success .dz-dialog__btn-confirm
    --dialog-btn-confirm-success-color: var(--green-color);
    --dialog-btn-confirm-success-background-color: transparent;
    --dialog-btn-confirm-success-hover-color: var(--green-color);
    --dialog-btn-confirm-success-hover-background-color: transparent;
    --dialog-btn-confirm-success-before-hover-color: var(--green-color);
    --dialog-btn-confirm-success-before-hover-background-color: currentColor !important;
    --dialog-btn-confirm-success-before-opacity: 0.3;
    // .dz-dialog__btn-cancel
    --dialog-btn-cancel-color: var(--text-color-default);
    --dialog-btn-cancel-hover-color: var(--text-color-default);
    --dialog-btn-cancel-background-color: transparent;
    --dialog-btn-cancel-hover-background-color: rgba(0, 0, 0, 0.1);
}

[data-primary-color^="red"],
[data-primary-color] [data-primary-color^="red"] {
    --primary-color: var(--red-color);
}
[data-primary-color^="green"],
[data-primary-color] [data-primary-color^="green"] {
    --primary-color: var(--green-color);
}
[data-primary-color^="blue"],
[data-primary-color] [data-primary-color^="blue"] {
    --primary-color: var(--blue-color);
}
[data-primary-color^="orange"],
[data-primary-color] [data-primary-color^="orange"] {
    --primary-color: var(--orange-color);
}
[data-primary-color^="yellow"],
[data-primary-color] [data-primary-color^="yellow"] {
    --primary-color: var(--yellow-color);
}

[data-theme-mode^="light"],
[data-theme-mode] [data-theme-mode^="light"] {

    --background-color-default: #eeeeee;
    --text-color-default: #414141;
    --border-color-default: #bbbbbb;

    // header/titlebar
    --header-background: #333333;
    --header-text-color: #ccc;
    --header-border-bottom-color: var(--border-color-default);

    // header/titlebar: menu
    --header-menu-button-color: var(--header-text-color);
    --header-menu-button-hover-background-color: var(--dark-color);
    --header-menu-button-hover-icon-color: var(--primary-color);

    // header/titlebar: title
    --header-title-distro-name-color: var(--primary-color);
    --header-title-app-name-color: var(--header-text-color);

    // header/titlebar: controls
    --header-control-color: var(--header-text-color);
    --header-controls-minimize-hover-color: var(--blue-color);
    --header-controls-restore-hover-color: var(--green-color);
    --header-controls-maximize-hover-color: var(--green-color);
    --header-controls-close-hover-color: var(--red-color);

    // sidebar
    --sidebar-border-left-color: var(--border-color-default);
    --sidebar-border-right-color: var(--border-color-default);
    --sidebar-background-color: #dedede;
    --sidebar-text-color: var(--text-color-default);
    --sidebar-title-button-color: var(--text-color-default);
    --sidebar-title-button-hover-color: var(--primary-color);
    --sidebar-item-button-color: var(--text-color-default);
    --sidebar-item-button-hover-color: var(--red-color);
    --sidebar-item-tittle-color: var(--text-color-default);
    --sidebar-item-caption-color: var(--text-color-default);
    --sidebar-item-active-background-color: rgba(0,0,0,0.1) !important;
    --sidebar-item-active-tittle-color: var(--text-color-default);
    --sidebar-item-active-caption-color: var(--text-color-default);
    --sidebar-item-active-border-left-color: var(--primary-color);

    // view/main
    --main-background-color: var(--background-color-default);
    --main-border-right-color: var(--border-color-default);
    --main-text-color: var(--text-color-default);

    // view/main: notify
    --main-notify-border-bottom-color: var(--border-color-default);
    // --main-notify-border-right-color: var(--border-color-default);
    --main-notify-background-color: var(--main-background-color);
    --main-notify-text-color: var(--red-color);

    // footer/statusbar
    --footer-background-color: #cecece;
    --footer-text-color: var(--text-color-default);
    --footer-border-top-color: var(--border-color-default);
    --footer-border-right-color: var(--border-color-default);
    --footer-border-bottom-color: var(--border-color-default);
    --footer-border-left-color: var(--border-color-default);
    --footer-statusbar-primary-border-top-color: var(--border-color-default);
    --footer-logger-view-background-color: #fff;
    --footer-logger-view-controlbar-background-color: #f1f1f1;
    --footer-logger-view-button-hover-color: var(--red-color);
}



[data-theme-mode^="dark"],
[data-theme-mode] [data-theme-mode^="dark"] {

    --background-color-default: #2d3035;
    --text-color-default: #8a8d93;
    --border-color-default: #34373d;

    // header/titlebar
    --header-background: var(--background-color-default);
    --header-text-color: var(--text-color-default);
    --header-border-bottom-color: var(--border-color-default);

    // header/titlebar: title
    --header-title-distro-name-color: var(--primary-color);
    --header-title-app-name-color: var(--text-color-default);

    // header/titlebar: controls
    --header-controls-default-color: var(--text-color-default);
    --header-controls-minimize-hover-color: var(--blue-color);
    --header-controls-restore-hover-color: var(--green-color);
    --header-controls-maximize-hover-color: var(--green-color);
    --header-controls-close-hover-color: var(--red-color);

    // sidebar
    --sidebar-border-right-color: var(--border-color-default);
    --sidebar-background-color: var(--background-color-default);
    --sidebar-text-color: var(--text-color-default);
    --sidebar-title-button-color: var(--text-color-default);
    --sidebar-title-button-hover-color: var(--primary-color);
    --sidebar-item-button-color: var(--text-color-default);
    --sidebar-item-button-hover-color: var(--red-color);
    --sidebar-item-tittle-color: var(--text-color-default);
    --sidebar-item-caption-color: var(--text-color-default);
    --sidebar-item-active-background-color: #34373d !important;
    --sidebar-item-active-tittle-color: var(--text-color-default);
    --sidebar-item-active-caption-color: var(--text-color-default);
    --sidebar-item-active-border-left-color: var(--primary-color);

    // view/main
    --main-background-color: var(--background-color-default);
    --main-text-color: var(--text-color-default);

    // view/main: notify
    --main-notify-border-bottom-color: var(--border-color-default);
    --main-notify-background-color: var(--background-color-default);
    --main-notify-text-color: var(--red-color);

    // footer/statusbar
    --footer-background-color: var(--background-color-default);
    --footer-text-color: var(--text-color-default);
    --footer-border-top-color: var(--border-color-default);
    --footer-logger-view-background-color: #30353e;
    --footer-logger-view-button-hover-color: var(--red-color);
}

/*
      // Base
        // "foreground": "",
        "focusBorder": "#DEDEDE",
        // "contrastActiveBorder": "",
        // "contrastBorder": "",

        // "widget.shadow": "",
        "textLink.foreground": "#FAA41A",
        "textLink.activeForeground": "#FFCA40",
        "tab.activeForeground": "#FFCA40",
        "input.background": "#2B2928",
        "input.border": "#0008",
        "input.foreground": "#c45555",
        "input.placeholderForeground": "#DEDEDE88",
        "inputOption.activeBorder": "#FAA41A",
        // "inputValidation.infoBorder": "",
        // "inputValidation.infoBackground": "",
        // "inputValidation.warningBackground": "",
        // "inputValidation.warningBorder": "",
        // "inputValidation.errorBackground": "",
        // "inputValidation.errorBorder": "",

        "badge.background": "#CF3B00",
        "progressBar.background": "#1C8D9B",

        "dropdown.background": "#33302F",
        "dropdown.foreground": "#DEDEDE",
        "dropdown.border": "#63524b00",

        "button.background": "#2B2928",
        // "button.foreground": "",

        "selection.background": "#1C8D9B",

        "list.activeSelectionBackground": "#1C8D9B",
        "list.activeSelectionForeground": "#FFF",
        "list.focusBackground": "#1C8D9B",
        "list.focusForeground": "#DEDEDE",
        "list.hoverBackground": "#DEDEDE44",
        "list.inactiveSelectionBackground": "#1C8D9BAA",
        "list.highlightForeground": "#FAA41A",

        // "scrollbar.shadow": "",
        // "scrollbarSlider.activeBackground": "",
        // "scrollbarSlider.background": "",
        // "scrollbarSlider.hoverBackground": "",

        
        
        // Editor
        "editor.background": "#3F3B39",
        "editor.foreground": "#DEDEDE",
        "editorWidget.background": "#2B2928",
        "editorCursor.foreground": "#DEDEDE",
        "editorWhitespace.foreground": "#DEDEDE11",
        "editor.lineHighlightBackground": "#4C4845",
        "editor.selectionBackground": "#00616F",
        // "editorIndentGuide.background": "",
        "editorHoverWidget.background": "#2B2928",
        // "editorHoverWidget.border": "",
        "editorLineNumber.foreground": "#DEDEDE88",
        "editorLineNumber.activeForeground": "#DEDEDE",
        // "editorMarkerNavigation.background": "",
        // "editorMarkerNavigationError.background": "",
        // "editorMarkerNavigationWarning.background": "",
        // "editorLink.activeForeground": "",
        // "editor.findMatchBackground": "",
        // "editor.findMatchHighlightBackground": "",
        // "editor.findRangeHighlightBackground": "",
        // "editor.hoverHighlightBackground": "",
        // "editor.inactiveSelectionBackground": "",
        // "editor.lineHighlightBorder": "",
        // "editor.rangeHighlightBackground": "",
        // "editor.selectionHighlightBackground": "",
        // "editor.wordHighlightBackground": "",
        // "editor.wordHighlightStrongBackground": "",

        // Editor: Suggest Widget
        // "editorSuggestWidget.background": "",
        // "editorSuggestWidget.border": "",
        // "editorSuggestWidget.foreground": "",
        // "editorSuggestWidget.highlightForeground": "",
        // "editorSuggestWidget.selectedBackground": "",

        // Editor: Peek View
        "peekViewResult.background": "#2B2928",
        // "peekViewResult.lineForeground": "",
        // "peekViewResult.selectionBackground": "",
        // "peekViewResult.selectionForeground": "",
        "peekViewEditor.background": "#3F3B39",
        "peekViewTitle.background": "#393634",
        "peekView.border": "#faa41a",
        "peekViewEditor.matchHighlightBackground": "#7744AA40",
        // "peekViewResult.fileForeground": "",
        // "peekViewResult.matchHighlightBackground": "",
        // "peekViewTitleLabel.foreground": "",
        // "peekViewTitleDescription.foreground": "",

        // Editor: Diff
        // "diffEditor.insertedTextBackground": "",
        // "diffEditor.insertedTextBorder": "",
        // "diffEditor.removedTextBackground": "",
        // "diffEditor.removedTextBorder": "",

        // Workbench: Title
        "titleBar.activeBackground": "#3B3735",
        "titleBar.activeForeground": "#DEDEDE",
        "titleBar.inactiveBackground": "#484441",
        "titleBar.inactiveForeground": "#DEDEDEAA",

        // Workbench: Editors
        "editorGroupHeader.noTabsBackground": "#393634",
        "editorGroup.border": "#DEDEDE22",
        "editorGroup.background": "#FFFBF2",
        "editorGroup.dropBackground": "#bbb5b3AA",
        "editorGroupHeader.tabsBackground": "#393634",

        // Workbench: Tabs
        "tab.border": "#0000",
        "tab.inactiveForeground": "#DEDEDE",
        "tab.inactiveBackground": "#00000000",
        "tab.activeForeground": "#FFCA40",
        "tab.activeBackground": "#0000",
        "tab.activeBorder": "#FAA41A",

        // Workbench: Activity Bar
        "activityBar.background": "#4d4643",
        "activityBar.foreground": "#fdf6e3",
        "activityBar.dropBackground": "#d3d0d0",
        "activityBarBadge.background": "#faa41a",
		"activityBarBadge.foreground": "#4d4643",
		"activityBar.activeBorder":"#FAA41A",
		"activityBar.activeBackground":"#383534",

        // Workbench: Panel
        "panel.background": "#33302F",
        "panel.border": "#FFF1",
        // "panelTitle.activeBorder": "",
        "panelTitle.activeForeground": "#FFCA40",
        "panelTitle.activeBorder": "#FAA41A",
        // "panelTitle.inactiveForeground": "",

        // Workbench: Side Bar
        "sideBar.background": "#2B2928",
        "sideBar.foreground":"#DEDEDE",
        "sideBarTitle.foreground": "#DEDEDEAA",
        "sideBarSectionHeader.background": "#463E39",
        "sideBarSectionHeader.foreground": "#DEDEDE",

        // Workbench: Status Bar
        "statusBar.foreground": "#DEDEDE",
        "statusBar.background": "#2B2928",
        "statusBar.debuggingBackground": "#d3d0d0",
        "statusBar.noFolderBackground": "#403C3A",
        "statusBarItem.prominentBackground": "#403C3A",
        "statusBarItem.prominentHoverBackground": "#DEDEDE22",
        // "statusBarItem.activeBackground": "",
        // "statusBarItem.hoverBackground": "",

        // Workbench: Debug
        "debugToolBar.background": "#AC1800",
        "debugExceptionWidget.background": "#393634",
        "debugExceptionWidget.border": "#AB395B",

        // Workbench: Notifications
        "notification.background": "#bebebe",
        "notification.infoBackground": "#48b9c7",
        "notification.infoForeground": "#ffffff",
        "notification.buttonBackground": "#48b9c7",
        "notification.warningBackground": "#bebebe",
        "notification.foreground": "#383838",

        // Workbench: Quick Open
        "pickerGroup.border": "#2AA19899",
        "pickerGroup.foreground": "#2AA19899",

        // Extensions
        "extensionButton.prominentBackground": "#faa41a",
        "extensionButton.prominentHoverBackground": "#584c27aa",

        // Workbench: Terminal

        "terminal.ansiBlack": "#111",
        "terminal.ansiRed": "#F15D22",
        "terminal.ansiGreen": "#73C48F",
        "terminal.ansiYellow": "#faa41a",
        "terminal.ansiBlue": "#3F51B5",
        "terminal.ansiMagenta": "#9C27B0",
        "terminal.ansiCyan": "#48B9C7",
        "terminal.ansiWhite": "#DEDEDE",
        "terminal.ansiBrightBlack": "#574F4A",
        "terminal.ansiBrightRed": "#cb4b16",
        "terminal.ansiBrightGreen": "#574e4a",
        "terminal.ansiBrightYellow": "#657b83",
        "terminal.ansiBrightBlue": "#839496",
        "terminal.ansiBrightMagenta": "#6c71c4",
        "terminal.ansiBrightCyan": "#93a1a1",
        "terminal.ansiBrightWhite": "#d3d0d0"
*/