<template>
  <div id="app">
    <!-- CARREGAMENTO -->
    <dz-loader />

    <!-- BARRA DE TITULO -->
    <AppTitlebar />

    <!-- MENU LATERAL - LISTA DE USUÁRIOS -->
    <AppSidebar />

    <!-- CONTEÚDO -->
    <AppMain />

    <!-- BARRA DE STATUS / LOG -->
    <AppStatusbar />
  </div>
</template>

<script>
import AppTitlebar from "@/components/AppTitlebar";
import AppSidebar from "@/components/AppSidebar";
import AppMain from "@/components/AppMain";
import AppStatusbar from "@/components/AppStatusbar";

export default {
  name: "App",
  components: {
    AppTitlebar,
    AppSidebar,
    AppMain,
    AppStatusbar
  }
};
</script>
